[2011-01-27 07:37] edog1203 opened #2 "Build warning: 'calculateNumberHash' declared 'static' but never defined"
With JSONKit HEAD as of 1/26/11:
JSONKit.m:356: warning: 'calculateNumberHash' declared 'static' but never defined

At first glance it looks safe to delete that line, but I wonder whether it's perhaps meant to be used somewhere (but isn't).

(Building with Xcode 3.2.5, iOS 4.2 SDK)

[2011-01-27 14:30] edog1203 opened #3 "Crash when creating -mutableCopy of parse result, then releasing the copy"
1) Parse JSON in NSData format by calling -objectFromJSONData
2) Invoke -mutableCopy on the result
3) Release (or autorelease) the result of -mutableCopy

The application will crash in JSONKit code. The crash point is as follows:

Thread 0 Crashed:  Dispatch queue: com.apple.main-thread
0   CoreFoundation                  0x00e8b057 **_forwarding**_ + 183
1   CoreFoundation                  0x00e8

[2011-02-05 02:37] johnezang commented on #3
Fixed in version 1.3.

[2011-02-05 02:37] #3 closed, assigned to johnezang

[2011-02-05 02:40] johnezang commented on #2
Fixed v1.3

[2011-02-05 02:40] #2 closed, assigned to johnezang

[2011-03-02 00:08] tjhanley opened #5 "License?"
What license are you distributing this under? MIT, GPL, etc...

[2011-03-02 00:09] tjhanley commented on #5
nvr mind. i was looking for a separate file. Sorry... Tom

[2011-03-02 00:09] #5 closed, assigned to johnezang

[2011-03-03 21:45] soffes opened #6 "Type mismatch"
There is a warning converting CFHashCode to NSUInteger. I tried typecasting, but this craziness is out of my league :)

http://soff.me/4zWE

I'm using LLVM 2 by the way.

[2011-03-03 22:03] johnezang commented on #6
I don't have LLVM 2 (the shipping version, at least), but I do have a fairly recent SVN version that I use to test: `clang version 2.0 (trunk 106308)`.  I couldn't reproduce this exact problem with (choice of compiler warning flags?), but none the less I added a type cast.  The fix, along with some other changes, was checked in.

[2011-03-03 22:43] soffes commented on #6
Fixed my issues. Thanks! Ya, I have stricter warnings on.

[2011-03-04 06:03] #6 closed, assigned to johnezang

[2011-03-10 20:17] samvermette opened #7 "NSNull -> nil"
Any plan on supporting this like TouchJSON and other parsers do? For now I've added an NSDictionary category that checks for null values and return nil instead. I've tried adding that directly to the parser but that code is way beyond my knowledge ^^

[2011-03-11 02:58] johnezang commented on #7
No.  That isn't a feature, it's a bug.  If TouchJSON is actually doing that, you should file a bug with that project `NSNull` is `!=` to `nil` for a very, **_very**_ good reason, and you should never treat it as if it was `==`.

http://developer.apple.com/library/mac/#documentation/Cocoa/Conceptual/NumbersandValues/Articles/Null.html%23//apple_ref/doc/uid/TP40005153-SW1

[2011-03-11 02:58] #7 closed, assigned to johnezang

[2011-03-11 05:30] omarkilani opened #8 "Incorrect objectForKey results for keys not in table."
Hi John,

There's a bug in _JKDictionaryHashTableEntryForKey which returns an incorrect result (returns an object when it should return NULL) if the key falls into the same bucket as another key, but the hash and value don't match.

The loop does:

[code]

But never clears atEntry if we get to the end of the loop and the key wasn't found.

Thanks!

Regards,
Omar

[2011-03-11 17:06] johnezang commented on #8
This was reported by another user, but I never heard back if the fix I gave them worked.  I've checked in that fix.

If you happen to have some JSON that tickles this bug, could you paste it in to the ticket?  This condition never showed up during my testing, it requires just the right set of conditions that's almost impossible to create by hand.

[2011-03-12 01:06] #8 closed, assigned to johnezang

[2011-03-12 03:13] omarkilani commented on #8
The JSON:

[code]

Will reproduce this issue, and return the value for 'l2' if you request the value for 'l4'.

Sample code:

[code]

Sample output:

[code]

Hope this helps!

[2011-03-14 18:39] Vestrit opened #9 "Crash requesting jsondata from NSMutableDictionary created by JSONKit"
When requesting jsondata from an NSMutableDictionary created by jsonkit, jsonkit will crash. It works fine for non mutable dictionaries.

Process:         someApp [33571]
Path:            /Users/USER/Library/Developer/Xcode/DerivedData/someApp-dzxzpbtokpnlvbfzxrgbssffgdva/Build/Products/Debug/someApp.app/Contents/MacOS/someApp
Identifier:      com.myCompany.someApp
Version:         1.0 (1)
Code Ty

[2011-03-14 18:49] Vestrit opened #10 "Possible memory leak in setObjectForKey"
aKey = [ aKey copy ]; Looks like it could be leaking.  We created about 30 objects then released them and ended up with a much larger footprint than we should have had in quick check.

Also in several places where you do anObject = [ anObject retain ];  should probably be [ anObject retain ]; since the assignment is technically considered "dead code" by the static analyzer.

[2011-03-17 04:43] johnezang commented on #9
I've tried to recreate this problem, but so far no luck.

It looks like this might be a stack smash from the provided crash dump info.

I did check in 70548534dbc8cdb00efd152b6895398a1dc007f1, which includes a number of additional assertions to make sure that the encode cache doesn't copy anything it's not supposed to and accidentally smash the stack in the process.

I can only suggest that you tr

[2011-03-17 04:45] johnezang commented on #10
Sending the key a `copy` message is correct- that is what dictionaries are supposed to do to obtain an immutable version of the key.

Why do you think it's leaking?  Does `leaks` or the Instruments leaks tool report that the memory has been leaked?

[2011-03-17 14:04] johnezang commented on #10
Commit johnezang/JSONKit@f520db76dab3d5aa7b8ca1d581e8c7fc6ece2819 adds a `#ifndef __clang_analyzer__` around the `copy` and `release` bits to silence the analyzer.

[2011-03-23 13:40] johnezang commented on #9
I have not been able to reproduce this problem, nor have I heard from anyone else who has encountered this problem.  If possible, please provide some example code that reproduces this problem.

[2011-03-23 13:44] johnezang commented on #10
I'm going to close this ticket since I have been unable to reproduce any memory leaks, and `clang` just seems to be whining about non-issues once again (though thankfully silenced with `#ifndef __clang_analyzer__`).

[2011-03-23 13:44] #10 closed, assigned to johnezang

[2011-03-23 20:13] Vestrit commented on #9
NSData *data = ...; // Data from an NSURLRequest
JSONDecoder *decoder = [ JSONDecoder decoder];
NSMutableDictionary *jsonData = [ decoder mutableObjectWithData:object.data];
[ jsonData JSONData]; // Crash here

We noticed that this seems to only occur on 64 bit builds and not 32 bit builds.. It also seems to perhaps be specific to a dev seed of a newer OS...

[2011-03-23 20:54] johnezang commented on #9
Can you provide the JSON?

[2011-03-24 00:59] omarkilani opened #12 "Possible performance regression"
Hi John,

Not really a big deal and I'm not sure if this is related to the recent JKSerializer class, but I'm finding that encodes are 10-20% slower than my last test (with commit 524b9d78d3a0e68d3376).

Do you see a similar drop?

Regards,
Omar

[2011-03-24 01:40] johnezang commented on #12
No, I did not see any performance regressions.  I typically do my testing on the `x86_64` architecture using `gcc-4.2 -DNS_BLOCK_ASSERTIONS -O2`.

What architecture did you see the performance drop on?  Did you use `-DNS_BLOCK_ASSERTIONS`?  What optimization level?

[2011-03-25 01:21] omarkilani commented on #12
Hey John,

I forgot to define -DNS_BLOCK_ASSERTIONS while testing. :)

Sorry for the false alarm. Please close with an "Idiocy" label. :)

Keep up the awesome work on all your *Kits (I'd love to see TransactionKit resurrected one day. :)

Regards,
Omar

[2011-03-25 01:21] #12 closed, assigned to johnezang

[2011-03-25 08:06] johnezang commented on #12
Well I'm glad to hear that it wasn't an actual problem, as I really hoped to keep the `JKSerializer` object paradigm as it makes some things easier that I'm experimenting with.  In particular, having an autoreleased object wrapper makes it easier to track resources and ensure they are released "no matter what"... like say if you added the ability for the user to "format" unhandled classes (i.e., `

[2011-03-25 08:28] johnezang commented on #9
If you need to keep some information about this problem "off the public record", you can email me at john.engelhart AT gmail.com.

Also, I noticed something about the stack trace in the problem description.  The problem description states

However, the stack trace contains:

<pre>
4   com.myCompany.someApp            0x000000010000ad83 -[NSArray(JSONKit) JSONDataWithOptions:error:] + 67 (JSONKit.m

[2011-03-26 01:42] Vestrit commented on #9
John,

We are working on sanitizing the data and making sure it still occurs
with that version. Once we have that I'll send a sample project over to you.

On Friday, March 25, 2011, johnezang
reply@reply.github.com
wrote:

[2011-03-26 01:51] johnezang commented on #9
You might want to try the version of JSONKit.m from commit daf18f30c12516a153e10ef3eb8d931590e5fd31 (and onwards).  This commit changes the way in which the immutable / mutable concrete collection classes are done.  It also does away with the swizzling hack I had in place which always left me a bit uncomfortable, and I've wondered if that technique didn't play a role in the problem that you're see

[2011-03-26 01:54] Vestrit commented on #9
I will pull an updated version in to our svn Monday and run everything
through our tests again to see if that fixed it!

On Friday, March 25, 2011, johnezang
reply@reply.github.com
wrote:

[2011-03-30 19:24] ssteinberg opened #13 "JSONString and NSNumbers"
Encoding a dictionary with some NSNumbers gives me a JSON with all values ".17g". I have no idea what it means. Code:

[code]

JSON output: '{"n2":.17g,"n1":.17g}'. No error.

LLVM GCC 4.2 with XCode 4. Debug build, no optimizations.

[2011-03-31 01:32] johnezang commented on #13
The only way I can possibly think of that would cause this is that you somehow managed to remove the `%` in the following line:

[code]

You can search for `jk_encode_printf`, as it only appears about six times in the source.  I suspect when you get down the the numbers handling section, you'll find that the `%` vanished somehow.

[2011-03-31 06:54] ssteinberg commented on #13
Thanks. I was using experimental branch. Switching to stable was enough. No idea if and how the % vanished, I didn't touch the source.

[2011-03-31 06:54] #13 closed, assigned to johnezang

[2011-03-31 17:07] johnezang commented on #13
Ah, when I checked the experimental branch, it was missing the `%`.  I think it got munged during a commit.  I've merged the experimental branch with master and fixed this problem.

[2011-04-05 18:22] Vestrit commented on #9
I've mailed you a sample project that reproduces the crash when compiled + run.

[2011-04-06 17:59] vguerci opened #14 "Memory leaks or Instruments bad use/misunderstanding?"
Hi,

First of all, thanks a lot for your great work!

Could you **please** look at that [SO question](http://stackoverflow.com/questions/5417089/xcode-4-instruments-4-false-positive-leaks) and tell us if those are leaks from JSONKit we are seeing or we are just noobs? :)

Feel free to contact me for more informations.

Vincent.

[2011-04-07 17:10] vguerci commented on #14
That was a bad code + misunderstanding of Instruments reports.

Bad me.

[2011-04-07 17:10] #14 closed, assigned to johnezang

[2011-04-08 23:00] andypotion opened #15 "Cannot serialize integers in Mac OS X 10.7"
The following code will crash in Mac OS X Lion Developer Preview 2:

[[NSArray arrayWithObject:[NSNumber numberWithInteger:1]] JSONString]

The crash happens when you try to get the isa value for the number object because they seem to be optimized special pointers in the runtime now.

[2011-04-10 22:09] loretoparisi opened #16 "objectWithData Snippet"
Hello,
could you please show a snippet of basic decoding with objectWithData? thanks

I'm using the following code

[code]

[2011-04-11 00:15] johnezang commented on #16
I'm not sure I understand the request.  The example you provided is "a snippet of basic decoding with objectWithData".   Or are you asking for an example of "what to do with `jsonObj`"?

[2011-04-11 00:27] johnezang commented on #15
After working with Andy on this bug (thanks @andypotion!), we were able to determine the cause of the problem.

However, since this is a bug that is specific to Mac OS X 10.7 / Lion, there are various NDA issues involved in discussing the problem publicly.

A work-around is known, but there's a legitimate question as to whether or not this is a bug in JSONKit or not.  It's not clear if the work ar

[2011-04-11 00:33] johnezang commented on #15
This is likely a duplicate of issue #9.

[2011-04-11 00:34] johnezang commented on #9
This may be a duplicate of issue #15.

[2011-04-19 13:18] jfmorin opened #17 "removeObjectsForKeys doesn't properly remove objects"
Hi,

There is a problem with the NSMutableDictionary returned by mutableObjectFromJSONString. A call to removeObjectsForKeys will remove the objects but not the keys. So we end up with nil objects. I also noticed side effects on other dictionary values that should not be affected.

Should it be overridden in the JKDictionary class like removeObjectForKey is?

Thanks,
JF

[2011-04-19 13:33] johnezang commented on #17
Can you provide the JSON and some example code the demonstrates the problem?

From your description, it's not clear what the problem is.  When you say "A call to removeObjectsForKeys will remove the objects but not the keys. So we end up with nil objects.", this is the expected behavior- when a `NSDictionary` does not contain a key, `-objectForKey:` will return `nil` (aka `NULL`).

[2011-04-19 14:50] stigi opened #18 "Why must the caller retain the new object for JKArray methods"
I browsed through your code and wondered why exactly the caller is responsible to retain the object that is going to be inserted into the array via _JKArray methods.
You're using CFRelease and -autorelease to manage retain counts in those methods, but no CFRetain or -retain. I'm sure there's a reason for that, but I could not figure out what it is.

Please enlighten me :)

best,
Ullrich

[2011-04-19 15:09] johnezang commented on #18
Some of this is covered in `CHANGELOG.md`, but the short explanation is that this implements a "transfer of ownership" memory management policy.

The normal object ownership flow for collections usually has the collection `CFRetain` an object when it is added to the collection via a `AddToCollection` type of call.  Once added to the collection, whatever added it to the collection must call `CFRele

[2011-04-21 18:57] jfmorin commented on #17
Instead of removing the key/value pair as expected, the key remains in the mutable dictionary but the value is replaced by a null value. If I print the resulting object I can see: "myKey"=(null).

[2011-04-21 19:18] johnezang commented on #17
The behavior you describe is the expected behavior.  The key does not "remain" in the dictionary, any key that does not exist in the dictionary returns `NULL` (aka `nil`).  There are a number of internal checks in the form of `NSCParameterAssert` that ensure that every key in the dictionary contains a non-`NULL` object associated with it.  If you did not compile JSONKit with `NS_BLOCK_ASSERTIONS`,

[2011-04-21 23:16] loretoparisi commented on #16
Hello,
I finally realized how to use your wonderful lib:

// mapping iTunes Search API JSON
int results = [[jsonObject valueForKey:@"resultCount"] intValue];
    NSLog(@"results %d",results);
    if(results >0) { // has results
        NSArray *results = [jsonObject valueForKey:@"results"];
        for(NSObject *aResult in results) {
            NSString *wrapperType = [aResult valueForKey:@"wrapp

[2011-04-21 23:16] #16 closed, assigned to johnezang

[2011-04-22 04:47] omarkilani commented on #17
Hey John,

I think what the OP is seeing is this (with JSONKit 2e6ccf4ecc28db1e7c511546f269233d96c87f4c):

Code:

[code]

Output:

[code]

[2011-04-22 05:32] omarkilani commented on #17
Hey John,

I've tracked this down to the fix which fixed issue #8 :)

https://github.com/johnezang/JSONKit/commit/524b9d78d3a0e68d3376abea039b63957ed71e7e

Specifically this line:

https://github.com/johnezang/JSONKit/commit/524b9d78d3a0e68d3376abea039b63957ed71e7e#L0R1014

This comment:

 // If the key was in the table, we would have found it by now.

Is incorrect if removeObjectForKey was used (

[2011-04-22 06:14] #17 closed, assigned to johnezang

[2011-04-22 06:23] johnezang commented on #17
@omarkilani, the line you mentioned in your comment is one half of the problem.  The real problem is in the removal logic- it (should have) "re-added" the items following the removed entry so that linear probe hash collisions didn't result in a `NULL` gap in the middle of the linear probe hash collision.

Your example code was very useful- it happened to create a dictionary with 3 items with a cap

[2011-04-22 06:24] #18 closed, assigned to johnezang

[2011-04-22 14:39] jfmorin commented on #17
Thanks for the help reproducing the problem and fixing it.
Good job!

[2011-04-23 02:26] omarkilani commented on #17
@johnezang, Thanks for the fix. Yeah, the real problem became obvious once I started delving in a bit more. I seem to get pretty lucky with just the right dictionaries to trigger things. :)

Thanks again.

[2011-04-25 15:59] drodriguez opened #20 "Missing @throw or incorrect method name"
As of 862fa4dbd0362bad859d, line 2793 reads like this:

[code]

That, in case of a memory problem will create the exception object and not do anything with it. I think is missing a @throw statement, or creating the exception using a `+[NSException raise:format:]` method (like is done in the rest of the file).

[code]

[2011-04-25 20:15] #20 closed, assigned to johnezang

[2011-04-25 20:16] johnezang commented on #20
Not sure how this happened.  I'm going to blame autocompletion.  :)

[2011-04-30 21:04] mattspradley opened #21 "Escaping backslash incorrectly when backslash is used to escape forward slash as in ASP.NET JSON date format"
When JSONData is called on a NSDictionary that has a key value pair that has a string encoded with ASP.NET Date format (http://weblogs.asp.net/bleroy/archive/2008/01/18/dates-and-json.aspx) the backslash in the date format is incorrectly escaped with another backslash.

For example:

"\/Date(1303502009425)\/"

is encoded as:

"\/Date(1303502009425)\/"

This should not be the case because the JSON

[2011-04-30 21:54] johnezang commented on #21
I can't say I'm familiar with Microsofts "solution" to encoding dates, but their "solution" has a few potential problems.  Well, at least for anything that wants to interoperate with Microsofts "solution".  Technically, this is not a bug in JSONKit, it's really more of a design flaw on Microsofts part.

When you ask JSONKit to encode `/Date(1303502009425)/`, the resulting JSON string will be `/Dat

[2011-04-30 22:18] mattspradley commented on #21
It's definitely a pain and adds overhead to JSONKit which is highly optimized. However, Microsoft does use this loophole in their new WCF REST APIs and other places.

What about adding a parsing option?

Bavarious has demonstrated a patch to the code (without a parse option) here: http://stackoverflow.com/questions/5844525/how-to-prevent-jsonkit-from-escaping-backslash-from-asp-net-json-date-forma

[2011-04-30 22:28] ghost commented on #21
I’d answered that question on Stack Overflow before having read John’s comment on this bug report. I agree with John’s arguments. That said, would it be possible to implement this feature as preprocessor dependent code? This would leave JSONKit as is unless a preprocessor macro is defined.

[2011-04-30 22:43] johnezang commented on #21
The solution in stackoverflow answer doesn't work.  Well, it works in that it handles the immediate problem, but it just shifts the problem somewhere else and actually causes more problems than it fixes.

The gist of the problem is this: Suppose you have a `NSString` with `\\/`.  The proposed solution would produce the following JSON string: `\\\/` (at least, as far as I can tell with a once over

[2011-04-30 22:50] mattspradley commented on #21
That's kind of how the post here: http://weblogs.asp.net/bleroy/archive/2008/01/18/dates-and-json.aspx says to deal with it.

I can understand if you don't want to put this case in JSONKit.

I just wanted to make everyone aware of the issue. I'm looking forward to the final decision.

[2011-04-30 23:07] johnezang commented on #21
I will probably add an encoding option that allows you to optionally escape forward slashes.  Even though I don't much care for the reason why it has to be done, people have to use the library in the real world, and realistically, this can't be avoided.  And since you pretty much have to bite the bullet, you're stuck with either putting it in to the guts of JSONKit or using something like the `str

[2011-05-01 21:59] mattspradley commented on #21
Thanks for being so pragmatic in your approach. I have implemented a workaround but look forward to the option being implemented in the future.

[2011-05-02 19:14] johnezang commented on #21
I've committed a change that should "fix" this.  When serializing a Cocoa collection with one of JSONKits serialization methods that accepts options, you can pass it `JKSerializeOptionEscapeForwardSlashes`, which should backslash escape all the forward slashes in the string.

[2011-05-04 02:54] johnezang commented on #21
@mattspradley, did the committed change resolve this problem to your satisfaction?  If so, go ahead and close this issue.  Otherwise, let me know what else I can do to help.

[2011-05-06 15:39] mattspradley commented on #21
That fixed it.

[2011-05-06 15:39] #21 closed, assigned to johnezang

[2011-05-17 20:48] edwardIshaq opened #24 "JSONDecoder parseJSONData returns string "<null>" for json's null value"
Hi there,
I started using JSONKit library and I really enjoyed the speed of the parsing. its really fast as you guys say.
but I am having a problem when parsing a JSON with one of the values is null:
...
"somekey" : null

the dictionary in return will show up as

...
"somekey" = "<null>";

is there a way to fix this locally for now ?

[2011-05-18 14:24] edwardIshaq commented on #24
I have a fix for the problem.
its in the _JKDictionaryAddObject function:

static void _JKDictionaryAddObject(JKDictionary *dictionary, NSUInteger keyHash, id key, id object) {
  NSCParameterAssert((dictionary != NULL) && (key != NULL) && (object != NULL) && (dictionary->count < dictionary->capacity) && (dictionary->entry != NULL));
  NSUInteger keyEntry = keyHash % dictionary->capacity, idx = 0UL

[2011-05-18 16:14] johnezang commented on #24
It's not clear what the problem is from your description.  The `-description` for `NSNull` is `"<null>"`.  This is what a `NSDictionary` will print / use when do something like `NSLog(@"Dictionary: %@", aDictionary);`.  This is the normal, expected behavior.

The "fix" you suggested, however, is broken- it replaces a `NSNull` / JSON `null` value with a string that has a length of 0 / contains no c

[2011-05-18 17:01] edwardIshaq commented on #24
the problem is when writing the dictionary into a file while having "" as one of its values. it will fail consistently.
I am aware of the NSNull and @"" differences but specifically for NSDictionary this will solve the problem of writing to file.

[2011-05-18 23:55] jasongregori opened #25 "Feature Request: Call backs for Deserializing"
I would try to do this myself but the level of sophistication in JSONKit is far beyond me. Perhaps this wouldn't even be possible without really slowing JSONKit down?

Anyways, there are two problems I have that could be fixed by something like this.
1. Our company's JSON passes dates as strings in the format "/Date(1305758490476)/" (This is something that .net does). It would be great if I could

[2011-05-19 05:34] johnezang commented on #25
Lots of thoughts, and it's something that I've been thinking about.  I added callbacks to the serialization process, but that was relatively straightforward.   But so far I haven't been able to come up with a clean and elegant way of adding callbacks to the deserialization process.

So, it's been on my radar, but I have yet to come up with something that I'm happy with.  Unfortunately, I wouldn't

[2011-05-19 16:25] jasongregori commented on #25
Totally makes sense. Just wanted to make sure it was somewhere on the long list (even if only the wish list :). Thanks for reading my message. Oh yeah when I saw the callbacks for serialization I got so psyched thinking there must be matching deserialization ones :)

On May 18, 2011, at 10:34 PM, johnezangreply@reply.github.com wrote:

[2011-05-27 16:51] andrewtgraydc opened #27 "JSONkit with arrays and objectatindex"
Does JSONkit work with arrays? Ive got the following and using NSLogs I seem to have gotten my data correctly, but I am having some issues with tableview and the errors are new to me.

[code]

the feed is an array of dictionaries and I've been able to use nested objectForKey, valueForKey and objectATIndex messages to get to all the data I want.  I've even gotten it displayed in my tableview when t

[2011-05-27 19:03] johnezang commented on #27
The `NSInternalInconsistencyException` exception message is clearly generated by JSONKit- JSONKit has detected a condition which, if things are working correctly, "should not happen".  Because the assertion check has multiple conditions that it checks, it's hard to tell exactly which one of the checks failed.  If I had to guess, the most likely would be `objects[objectIndex] != NULL`, which would

[2011-05-27 19:12] johnezang commented on #27
Also, could add the following just before line 745, where the `NSAssertion` is:

[code]

Then, run your app, and when the condition that causes the `NSAssertion` to fail, it should print out a bunch of info to the console that will help determine exactly what has gone wrong.

[2011-05-27 19:38] andrewtgraydc commented on #27
Thanks so much for the response, I really appreciate it! everything else seems great so far and i picked JSONkit for the performance.  Ill get the info you asked for and reply in a bit. thanks again!!

[2011-05-27 19:47] andrewtgraydc commented on #27
ok i was able to hover over the variables in the three part assertion...count shows as 25 as does capacity so okay there.  you're right, objects might be the issue. hovering over it shows "id \*   objects   0x0" - where does this come from? NSloging shows me I have data in the arrays and dictionaries.

not sure if i can provide JSON itself, but i can work on creating dummy one that exactly mimics

[2011-05-27 19:53] andrewtgraydc commented on #27
heres from the console, looks like objects is empty?

2011-05-27 15:52:25.272 navtest2[27134:207] objects: 0x0
2011-05-27 15:52:25.273 navtest2[27134:207] count: 25, capacity: 25
2011-05-27 15:52:25.273 navtest2[27134:207] objectIndex: 0, objects[objectIndex]: 0x0

[2011-05-27 20:59] johnezang commented on #27
That's very odd.  `objects` is the `JKArray` (an internal JSONKit class) iVar that holds the pointer to the memory allocation where the objects in that array are kept.  There are very few things that modify that variable- when the array is created, sometimes when it is mutated and needs to grow that allocation, and when the object is released.  This makes me wonder if you might have accidently rel

[2011-05-27 21:08] johnezang commented on #27
Assuming that my hunch that this is a `retain` / `release` issue, you might want to take a look at enabling `NSZombieEnabled`.  You can find information about how to enable it [here](http://developer.apple.com/library/ios/#documentation/Xcode/Conceptual/iphone_development/130-Debugging_Applications/debugging_applications.html).

Some more memory debugging links:

http://www.cocoadev.com/index.pl?N

[2011-05-27 22:14] 0xced opened #28 "JSON Schema"
It would be nice to have [JSON Schema](http://json-schema.org) validation.

[2011-05-28 08:30] johnezang commented on #28
I spent quite a bit of time digging through the RFC's and some of the sample implementations, and I didn't really see anything that would seem to require integrating a JSON Schema validator directly in to a JSON serializing / deserializing library in order to be able to do validation.  And there just seems to be something... _fundamentally wrong_ about adding schemas to JSON.  :)

If you really ne

[2011-05-28 08:30] #28 closed, assigned to johnezang

[2011-05-28 20:40] 0xced commented on #28
Given the name JSON**Kit** I thought it might do more than serialization / deserialization. ;)

[2011-05-28 21:06] erichocean commented on #28
"And there just seems to be something... fundamentally wrong about adding schemas to JSON. :)"

It's called "unit testing" and acts as an assertion that the JSON you expect is the JSON you got. There's nothing "fundamentally wrong" about unit testing.

[2011-05-29 21:51] johnezang commented on #28
Schema validation is not "unit testing"- not even close.  All schema validation tells you is if a particular piece of (in this case) JSON conforms to the schema.  And let's face it, the vast majority of schemas validate nothing more than whether or not a particular property exists or not, and what its basic type is (string, number, etc).

This is about as useful as knowing that the sun will rise t

[2011-05-29 22:04] erichocean commented on #28
I'm sorry, for a software project, you are seriously amped up over nothing. We're professionals here, not children.

[2011-05-30 00:31] johnezang commented on #28
I assumed everyone was a professional- reasonable people can have different opinions about something.  Whether or not an opinion is compelling or not depends on the strength of merits and reasoning.  You stated:

I simply stated the reasons why I believe that your statement is flawed, along with providing some of the rational for why it is non-sensical to do schema validation at the JSON level.  T

[2011-05-30 01:26] grgcombs commented on #28
Well put.  I personally have no need for schemas, as described, but if I did I would expect to use a distinct product for that.  I _like_ the fact that JSONKit is low level, extremely fast, and simple. Anything else might interfere with those three things.

[2011-05-30 07:49] omarkilani commented on #28
IMHO JSON Schema support doesn't belong in JSONKit, which aims to be fast, simple, etc, etc.

Plus, if John doesn't want to add it, then that's pretty much that. :)

[2011-05-30 08:57] johnezang commented on #27
@skinsfan00atg, any update on this issue?  Did it end up being a `retain` / `release` problem, or do we still need to dig in to a possible problem with JSONKit?

[2011-05-30 15:32] andrewtgraydc commented on #27
Sorry had family visiting will try tonight, thanks again!

On May 30, 2011, at 4:57 AM, johnezangreply@reply.github.com wrote:

[2011-05-30 22:17] edog1203 commented on #28
Hear, hear.

[2011-05-31 22:08] johnezang commented on #28
I had some additional thoughts on this, specifically regarding the [JSON Schema (draft 03)](http://tools.ietf.org/html/draft-zyp-json-schema-03) specification.  Since I am the JSONKit project owner, I am to some degree in a position of "benevolent dictator", and so I thought it would be worthwhile to expand on my reasoning for why I don't think this is a good fit for JSONKit (or really JSON in gen

[2011-05-31 22:18] johnezang commented on #24
(... on why I haven't closed this issue ...)

I haven't closed this issue because I consider it to be a specific case of a broader "feature request".

In short, I consider this to fall under the umbrella of "on the fly value transformation and substitution during deserialization and serialization".  A generic way of handing that is fairly complicated, and implementing it in a way that is elegant i

[2011-06-02 17:30] reallylongaddress opened #29 "License Inconsistency"
Question:  The github page for this project states BSD license, but the code has Apache 2.  Could you clarify?

Thanks,
Dominic
@dominicdimarco

[2011-06-02 17:52] scelis opened #30 "Parsing JSON streams"
What are your thoughts on adding support for parsing streams of JSON-encoded data? Would there be enough of a speed gain to warrant this type of parsing for webservices that return large amounts of data?

Thank you so much for this project. So far it has been both easy to use and incredibly fast.

[2011-06-03 08:29] johnezang commented on #29
The license in the source is the correct version- JSONKit is dual licensed under either the BSD license or the Apache License, v 2.0.  Updated `README.md`.

[2011-06-03 08:29] #29 closed, assigned to johnezang

[2011-06-03 09:44] johnezang commented on #30
For many, possibly the majority, of use cases, I don't really see that adding streaming decoding would improve either speed (in terms of total time spent decoding), or memory consumption.

There is one usage case that stream can potentially be a benefit, though-
- The amount of JSON that needs to transfer from the server to JSONKit is "a lot" (where "a lot" means something along the lines of "the

[2011-06-03 14:56] scelis commented on #30
Thank you for your thoughtful reply. I think it might make most sense if I describe my current situation.

We are using JSONKit in the Expedia Hotels iPhone application (check out the "about this app" screen; we throw you some thanks). We have chosen to forgo traditional search result pagination for an enhanced user experience once the results are completely returned. This means being able to sort

[2011-06-03 16:50] johnezang commented on #30
Well, you definitely fall in to the class of JSONKit users who would benefit from being able to get the parsed and decoded results while the stream is still being received.  :)

As for JSON keyPaths, the though has occurred to me.  That's one of the reasons why I haven't implemented [Call backs for Deserializing](https://github.com/johnezang/JSONKit/issues/25) yet- ideally I would like to have som

[2011-06-03 19:33] scelis commented on #30
I would disagree with the assumption that there would only ever be one piece of information in the results that a user would be interested in, and that this one piece of information would always be an array. I could definitely envision a scenario where there are N "interesting" arrays in the JSON response. In addition, I could imagine a response that has a couple arrays that are "interesting", as

[2011-06-05 02:48] johnezang commented on #30
Don't get me wrong, I agree with a lot of what you're saying.  In fact, I'd probably say that what you're suggesting is somewhat close to "ideal".  Not only that, but everything discussed so far is practically identical to the issues and needs for doing _good_ [Call backs for Deserializing](https://github.com/johnezang/JSONKit/issues/25)\- you probably want to be able to specify a JSON keyPath to

[2011-06-06 17:03] jeremyellison opened #31 "Crash when parsing empty (but valid) JSON "{}""
JSONKit crashes when parsing the string "{}" with a divide by zero error. The following change has fixed the issue for me:

--- a/Vendor/JSONKit/JSONKit.m
+++ b/Vendor/JSONKit/JSONKit.m
@@ -1005,7 +1005,8 @@ static void _JKDictionaryAddObject(JKDictionary *dictionary, NSUInteger keyHash,

 static JKHashTableEntry *_JKDictionaryHashTableEntryForKey(JKDictionary *dictionary, id aKey) {
   NSCParamet

[2011-06-06 19:24] johnezang commented on #31
This bug was fixed in commit johnezang/JSONKit@18a0a3a4937d908a48d453a75ca9b92fc1d20d9b.

[2011-06-06 19:24] #31 closed, assigned to johnezang

[2011-06-14 20:32] oprisk opened #32 "where to find clean copy for 10.7 and iOS5"

[2011-06-14 22:53] johnezang commented on #32
What do you mean by "clean copy for 10.7 and iOS5"?  You'll need to provide more details.

[2011-06-15 14:47] oprisk commented on #32
Thanks for the quick feedback. The question pertains to iOS5 / 10.7 Lion preview 4 version release.
The current available version of JSONKit does not clean compile in XCode, and given the Apple NDA associated with the release, I'm prevented from directly discussing the issues.  I ask for help locating a version upgraded to work under iOS5.
Thanks

[2011-06-15 16:17] johnezang commented on #32
You can send me a private message directly if you'd like to discuss something non-publically.  You can do so by clicking on my name, @johnezang, to get my GitHub profile page.  There should be a button near the top that says "Message".  As you can imagine, without knowing the specifics of your problem, it's difficult for me to help you.  :)

[2011-06-16 21:21] johnezang commented on #32
The issue encountered by @oprisk was related to the new [Objective-C Automatic Reference Counting (ARC)](http://clang.llvm.org/docs/AutomaticReferenceCounting.html) feature that was covered by NDA (which has [recently been lifted](http://lists.cs.uiuc.edu/pipermail/cfe-dev/2011-June/015588.html)).

I have updated (johnezang/JSONKit@c2146ffeb10d92bfa1537d2033a3235825d1b261) the `README.md` with a n

[2011-06-16 21:22] #32 closed, assigned to johnezang

[2011-06-23 21:31] andrewtgraydc commented on #27
so sorry for the delay, it was a self. issue and now everything works great!

[2011-06-23 21:31] #27 closed, assigned to johnezang

[2011-06-28 03:21] AquaGeek opened #34 "Crash on objectForKey"
I'm using JSONKit to parse GitHub news feeds, and it is currently crashing on this JSON:

[code]

In my code, I'm doing:

[code]

Because the payload dictionary is empty, the subsequent call to get the repo dictionary throws a divide by zero exception from the modulus operation on line 1009 of JSONKit.m:

[code]

[2011-06-28 07:46] omarkilani commented on #34
I think this issue is a duplicate of #31 and was fixed in 18a0a3a4937d908a48d453a75ca9b92fc1d20d9b.

[2011-06-28 15:15] johnezang commented on #34
I agree with @omarkilani, this looks like a bug that has already been fixed.  Can you bring your JSONKit up to date with the latest in the repo and report back if that fixes your problem?

[2011-06-28 16:23] AquaGeek commented on #34
They do look related. I'll update to the latest and greatest tonight and let you know where this issue stands.

[2011-06-29 01:55] AquaGeek commented on #34
Yep. Looks like this is a dupe and that commit has, indeed, fixed the problem. Thanks, guys!

[2011-06-29 01:55] #34 closed, assigned to johnezang

[2011-07-08 10:33] ghost opened #36 "v1.4 memory leaks"
test environment XCode4

line 2318

[code]

[2011-07-08 14:29] scelis opened #37 "Supporting Automatic Reference Counting (ARC)"
I would like to discuss your future plans for supporting [Automatic Reference Counting (ARC)](http://clang.llvm.org/docs/AutomaticReferenceCounting.html). I see in commit c2146ffeb10d92bfa1537d2033a3235825d1b261 that you added a section to the README in which you state:

Is this the long-term plan? What are your reasons for not supporting ARC?

_Note: Edited to remove unsubstantiated claims about

[2011-07-08 15:07] AquaGeek commented on #37
Xcode seems to do an OK job for simple projects. I imagine this one is a little more complicated than the migrator is designed to handle.

That being said, there's nothing stopping anybody from forking and adding ARC support themselves...

[2011-07-08 17:42] jonsterling commented on #37
Yeah… I may fork this at some point and see if I can get ARC working nicely. At my work, we're using JSONKit, and we're also anticipating using ARC for future projects.

**Edit**: @AquaGeek, just saw you'd forked this with similar intentions…  :)

[2011-07-12 18:24] jkustan opened #38 "_JKDictionaryHashTableEntryForKey crashes for NULL capacity"
I have had great success using JSONKit -- however today I was getting a crash in _JKDictionaryHashTableEntryForKey.  As I dug in, it seems that dictionary->capacity was NULL, and the code was dying here:

  NSUInteger        keyHash = CFHash(aKey), keyEntry = (keyHash % dictionary->capacity), idx = 0UL;

I added a NULL check immediately above:

  if(!dictionary->capacity) { return(NULL); }

and no

[2011-07-13 06:12] omarkilani commented on #38
I think this issue is a duplicate of #31 and was fixed in 18a0a3a.

Are you using the latest git version?

[2011-07-13 15:09] jkustan commented on #38
I was using a 1.3 download, just moved up to 1.4, and manually added that
patch.  Do you have a recommendation on using the latest vs. using the 1.4
download?

Thanks for putting this together!

Jack

On Wed, Jul 13, 2011 at 2:12 AM, omarkilani <
reply@reply.github.com>wrote:

[2011-07-17 04:33] snej commented on #15
JSONKit is groping into an NSNumber object to dereference the 'isa' field. As far as I know this is not kosher since it makes assumptions about object memory layout that Apple could change in future OS versions, including Lion. I don't think you can assign blame upstream to Foundation.

This is probably faster than using the Obj-C runtime API to look up the class, but I don't think you can continu

[2011-07-21 19:30] marcetcheverry opened #39 "Benchmark against NSJSONSerialization"
Do an updated benchmark against NSJSONSerialization.

[2011-07-22 00:43] snej commented on #15
Now that Lion is no longer under NDA, could someone please post the workaround as a patch?

[2011-07-22 22:36] hiltonc commented on #15
I'm also running into this problem. Anyone have a fix?

[2011-07-22 22:39] snej commented on #15
My current workaround is to use NSJSONSerialization instead, when it's available. I do a runtime check to look up the class by name, and then call it if it's there instead of JSONKit.

[2011-07-23 07:26] 0xced commented on #15
I guess that [Tagged pointers and fast-pathed CFNumber integers in Lion](http://objectivistc.tumblr.com/post/7872364181) is the cause of this problem.

[2011-07-23 19:23] andypotion commented on #15
I just submitted a pull request for this. People needing the fix ASAP should check out my fork.

[2011-07-25 17:00] jamesprinc3 commented on #37
XCode doesn't even attempt to refactor JSONKit to be ARC compliant :(

[2011-07-25 21:57] AquaGeek commented on #37
Yeah, I noticed that as well. There's a lot going on with toll-free bridging with CF objects that the migrator doesn't support without some modifications. I still plan on looking into this more, but it's not going to be an easy fix.

[2011-07-26 19:49] 0xced commented on #28
Thank you for this detailed explanation.

[2011-08-08 12:52] FunkeeMonk commented on #25
RE: the 2nd point regarding NSNull's, add the one-line i've included below inside _JKDictionaryAddObject() inside JSONKit.m after NSCParameterAssert() and you'll have the functionality you want for the NSDictionary category.

Caveat emptor!  Be careful what you wish for.  As [johnezang explained in another issue](https://github.com/johnezang/JSONKit/issues/7), returning NSNull is a feature, not a

[2011-08-08 18:46] jasongregori opened #41 "Learning Question"
Hi John,

I'm just trying to learn and understand your marvelous code :). I saw this and was confused by it. If you have a second I thought you might shed some light.

[code]

`JK_EXPECT_T` looks like it's supposed to return `true` if the condition is `true` and `JK_EXPECT_F` looks like it's supposed to return `true` if the condition is `false`. But in the `#else` section they both return the same

[2011-08-08 18:56] jasongregori commented on #25
Thank you @FunkeeMonk. Your comment also helps me understand some of the things going on in JSONKit.

I would also want the arrays to work like this. Do you think this would work correctly? It looks right to me but I'd like a second (or third) opinion.

[code]

I've added `object == [NSNull null]` to the beginning of the third line.

[2011-08-18 17:26] jasonmgeorge opened #42 "Serialize NSMutableData"
It may be a user error, but I am unable serialize a dictionary containing an MSMutableData object.

When attempting to do so, I get

Error Domain=JKErrorDomain Code=-1 "Unable to serialize object class NSConcreteMutableData." UserInfo=0x4c31b50 {NSLocalizedDescription=Unable to serialize object class NSConcreteMutableData.}

[2011-08-18 17:28] jasonmgeorge commented on #42
NSData fails similarly with an NSConcreteData error

[2011-08-18 21:35] loretoparisi opened #43 "Crash on dealloc"
I got a `EXC_BAD_ACCESS` occasionally on line 958:

[code]

[2011-08-18 21:56] jonsterling commented on #43
Protip: If you indent your code by four spaces, it will be formatted correctly so that folks can read it better! Alternatively, add some guards to get syntax highlighting:

[code]

[2011-08-19 16:55] johnezang commented on #43
I suspect the most likely cause of this problem is that you have over-released the `key` object somewhere in your code.

The easiest way to check for this is to enable `NSZombies` (there's lots of ways to do this, search apples documentation for more information).  This will turn every released->dealloced object in to a special `NSZombie` object, and if a message is ever sent to that object again

[2011-08-19 16:58] johnezang commented on #42
This is not a bug in JSONKit, the documentation clearly states what types of objects JSONKit will serialize and that all other object classes will cause an error.

If you need to "easily" serialize `NSData` objects, I would suggest looking at the `master` branch code that allows you to dynamically catch object classes that JSONKit does not automatically serialize and transform them in to a type th

[2011-08-19 17:02] #42 closed, assigned to johnezang

[2011-08-19 17:06] johnezang commented on #38
As noted by @omarkilani, this is a known bug.

My personal recommendation is to use the latest from `master` (at least as of this date, which would be johnezang/JSONKit@c2146ffeb10d92bfa1537d2033a3235825d1b261).

I should probably create a `stable` branch as well that has all the patches since the last release.. hmmm.

[2011-08-19 17:06] #38 closed, assigned to johnezang

[2011-08-20 06:01] jasonmgeorge commented on #42
Works beautifully! Thanks!

[2011-08-23 14:10] loretoparisi commented on #43
Thanks, I'm going to test it and come back with a feedback. Yes, I agree, the JSONKit it's great, and maybe this is caused by some over-released key object, and this would be the the exception that proves the rule.

[2011-08-23 14:26] soffes commented on #39
I have benchmarked this in the 5.0 branch of my [JSON Benchmarks](https://github.com/samsoffes/json-benchmarks/tree/5.0) project. JSONKit beats NSJSONSerialization.

Feel free to download and try it.

[2011-08-23 14:28] soffes commented on #37
I know @johnezang is very against ARC and can talk at great length about it :)

I think a simple solution is making JSONKit a static library and then you can use it with ARC code or non-ARC code since you can mix and match between targets.

[2011-08-23 20:00] benzado commented on #37
This README sentence concerns me:

No specific reasons for unsupporting GC are mentioned, so it's hard to know what the reasoning is here. However, I fear there is a misconception about how ARC works.

GC is a _run-time_ technology, and results in a notable performance trade-off, as the garbage collector must intermittently pause execution to harvest orphaned objects. Since JSONKit is a performanc

[2011-08-24 07:13] seanroehnelt commented on #37
It was quick to make it happily build as a static library. I now have it working as a build dependency by dragging the project file into my Xcode project and adding it's product to my Target Dependencies (Build Phases tab), and adding the build product also to 'Link Binary with Libraries'. Is not arc, but it still is fast.

... all that said, bump benzado's comment above mine. I can't discount you

[2011-08-25 10:56] loretoparisi opened #44 "Garbace Collector Unsupported"
I'm using JSONKit in a Cocoa application and I started using the gc and realized that JSONKit is not supporting gc.
Is there any workaround or a beta version to enable it?

thanks

[2011-08-25 11:40] schubter commented on #44
from the readme

[2011-08-25 19:28] allynbauer opened #45 "Support for NSDecimal/NSDecimalNumber"
Any chance of adding this?

[2011-08-25 20:49] loretoparisi commented on #44
So since my Cocoa app needs GC I have to ways...further testing the JSONKit with -fobjc-gc (A) or - B - switch to another json parser.
Currently I decided to implement solution A, and our testing is going good until now.

[2011-08-25 21:59] johnezang commented on #44
As noted by @schubter, JSONKit does not support Mac OS X Garbage Collection.  It is explicitly stated in the documentation, and there are various preprocessor statements in JSONKit so that it will fail to compile if you try to compile it with something like `-fobjc-gc`.

You **MUST NOT** use JSONKit in a Garbage Collected environment.

The fact that "it seems to work" **_does not**_ mean that it w

[2011-08-25 21:59] #44 closed, assigned to johnezang

[2011-08-25 22:12] johnezang commented on #45
Unlikely.  I'm open to hearing arguments for adding it, though.

From my perspective, `NSDecimalNumber` doesn't really add much.  It's also more than a bit quirky and doesn't seem to be something that receives a lot of love and attention from the folks at Apple.

I strongly suspect that one of the reasons why it exists at all is due to the fact that in a number of jurisdictions, you _must_ use a b

[2011-08-25 22:27] allynbauer commented on #45
Yeah, I see your point. That said, I am developing an application that needs to process financial information. I am using NSDecimalNumber for these values internally, they just get float-ified over JSON. If native support in JSONKit is not an option, perhaps you could help me understand what would need changed?

[2011-08-25 22:30] johnezang commented on #41
The `JK_EXPECT_T` and `JK_EXPECT_F` are preprocessor macros that are used to abstract a feature often provided by optimizing compilers.  Specifically, it allows you to give the optimizer a hint as to which condition is most likely to occur: the `true` condition, or the `false` condition.  The `__builtin_expect()` "function" has the following behavior:
- `__builtin_expect(x, y)`, where `x` is `0`,

[2011-08-25 22:30] #41 closed, assigned to johnezang

[2011-08-25 23:13] johnezang commented on #45
In this particular case I would actually recommend using strings to represent the decimal numbers in question.  If the numbers get converted to JSON Numbers, there's no guarantee that other JSON implementations will use a base ten number format to represent the numbers.  On the other hand, a `"10.15"` string will (probably!) pass through unmolested and uninterpreted.

While JSON is great for a lot

[2011-08-26 02:18] allynbauer commented on #45
Thank you for such a detailed response. I appreciate the time and wisdom.

[2011-08-26 21:15] loretoparisi commented on #44
So, it's a good reason to switch back GC to "Unsopported".
Thanks a lot.

[2011-08-26 23:09] jasongregori commented on #25
That last one didn't work. This did though. In the function `static void *jk_parse_array(JKParseState *parseState)` I changed the state in the switch statement for nulls to this:

[code]

[2011-08-29 15:16] droppsm commented on #14
I'm experiencing the same issue in your SO post - what is the solution?  Or are these cached items not a problem?

[2011-08-29 15:36] vguerci commented on #14
The solution is to track and fix the memory leak, 99,94% chances that comes from your code...

[2011-08-29 18:54] jasongregori commented on #41
Thanks John

[2011-08-29 22:52] steipete commented on #41
If i get this right, clang/llvm doesn't use these hints?

[2011-08-30 17:33] jparise commented on #25
Adding rich deserialization callbacks could avoid the cost of creating intermediate dictionary objects when the desired result is an application-specific object instance.  That might be more complicated than what's being proposed here, however, as it would extend to custom-deserializing container types instead of just simple values.

[2011-08-30 20:26] jasongregori commented on #25
Yeah that could get pretty complicated. This library is already super complex and optimized. I got those darn nulls out so I'm happy :).

[2011-09-01 18:19] ryankunz commented on #45
I had the same question. Thank you for your guidance. Couldn't you also serialize/deserialize decimals as objects? Would this be any safer than as strings?

[2011-09-02 06:31] a2 opened #47 "Unsupported Classes"
Instead of (or in addition to) using blocks to serialize unsupported class types, perhaps a protocol could be used. Classes would implement this protocol in order to be serialized naturally.

[2011-09-02 08:31] soffes commented on #47
I love that idea. I think it would be neat if it was something like

[code]

That just returned one of the supported classes, since most of the time you would want to return a dictionary or an array or something.

[2011-09-04 13:34] a2 commented on #47
How about something like:

[code]

Remember that if we implement something like this, the JSON will just contain an array, dictionary, string, or number representation of this object. What we need to do is somehow store the class hierarchy "chain" like Apple does in its `.plist`s so that we know what class we have when we're unarchiving/unserializing. The reason we store the class hierarchy is so

[2011-09-12 18:39] droppsm commented on #14
I don't doubt that I'm doing something wrong, I just can't seem to figure out what it is.  Are there JSONKit examples somewhere?  Was the issue that you had a matter of releasing the decoder object?  This is what I am doing...

[code]

Are these autoreleased objects or do I need to handle releasing them?  Confused...the leak report looks very similar to the one on Stack Overflow.

Thanks for any h

[2011-09-13 06:44] johnezang commented on #14
@droppsm,

JSONKit follows the standard Cocoa memory management conventions.  In the example you provided, this means that the objects that are returned are `autoreleased`\- you do not and should not send them a `release` message (unless, of course, you have sent them a `retain` message).

The most likely cause of your problems is that you have inadvertently sent the `decodedResponse` object a `re

[2011-09-13 06:53] johnezang commented on #14
... as for "examples", your snippet of code is pretty much all there is to JSONKit.  The only other major function is turning `NSDictionary` or `NSArray` objects in to JSON, which is usually done with:

[code]

That's it.  Which one you use depends on your needs- a `NSString` is easier to manipulate programmatically, and a `NSData` is usually the best choice when your sending data to a server.

Th

[2011-09-17 00:42] jasongregori opened #48 "Crash on empty dictionary when trying to get a value in it"
I'm getting a crash in the `_JKDictionaryHashTableEntryForKey` function on this line:

[code]

I was calling `valueForKeyPath:` on a dictionary I got out of JSONKit that happened to have no entries. I think it's crashing because it's trying to mod the keyHash with zero.

[2011-09-17 00:44] jasongregori commented on #48
Possible fix is changing the line before to:

[code]

But maybe you can think of a more elegant solution.

[2011-09-17 04:12] johnezang commented on #48
This is almost certainly a dupe of #31 and #38.

[2011-09-17 07:25] groue opened #49 "can not deserialize single number"
Hello, shouldn't JSONKit deserialize a single number ?

Here is the error I get when I provide the single digit 1 to JSONKit:

[code]

[code]

[2011-09-19 15:42] johnezang commented on #49
No, a single number, as in your example, is not valid JSON.

[2011-09-19 15:42] #49 closed, assigned to johnezang

[2011-09-19 15:53] groue commented on #49
All right. http://www.json.org/ would need people like you to make things unambiguous.

[2011-09-19 16:01] johnezang commented on #49
When in doubt, you can use http://jsonlint.com/ .  In order for it to be valid JSON, it must "start" with either a `{` or `[`, which is to say the JSON must be a `JSON Object` (i.e., `NSDictionary`), or a `JSON Array` (i.e., `NSArray`).

So, `[1]`, would be valid JSON, but a bare `1` by itself is not.

[2011-09-19 16:14] groue commented on #49
Thanks, for these answers, and the very good JSONKit :-)

[2011-09-22 17:40] florentmorin commented on #37
In fact, I think there's another solution.

With ARC, following official documentation from LLVM, you can use

#ifdef __has_feature(objc_arc)

#end

[2011-09-22 18:57] groue commented on #37
My two cents : I chose to ship my own https://github.com/groue/GRMustache as a static library. ARC and non-ARC users are happy, and I have not spent a second explaining why the source code is still non-ARC.

Tip for @johnezang : the only drawback was that I had to write a custom Makefile, in order to build a single library for several architectures.

[2011-09-23 17:53] jasongregori commented on #48
You're right, sorry!

[2011-09-23 17:53] #48 closed, assigned to johnezang

[2011-09-23 22:21] johnezang commented on #36
There isn't enough information in the bug report to determine what the problem is.  Specifically:
- What was leaked?
- The line referenced does not do any allocation.  In fact, the method does no allocations, so this method can't "leak" anything.

Since the leak tools (typically) show you the place in the code in which the allocation was made, it is entirely possible to have objects created by JSO

[2011-09-23 23:40] johnezang commented on #9
Fixed in commit johnezang/JSONKit@c2ef69242b60dc2475328b08131f9aa3078a51fb.

[2011-09-23 23:40] #9 closed, assigned to johnezang

[2011-09-23 23:41] #15 closed, assigned to johnezang

[2011-09-23 23:41] johnezang commented on #15
Fixed in commit johnezang/JSONKit@c2ef69242b60dc2475328b08131f9aa3078a51fb.

[2011-09-27 21:02] 0xced commented on #37
Or you could use [iOS Universal Framework](https://github.com/kstenerud/iOS-Universal-Framework) which takes care of building for all architectures and packages a nice static framework instead of a static library plus separated header(s).

[2011-10-08 08:33] florentmorin commented on #37
With Xcode 4.2, you can specific compiler flags per file.
You can use "-fno-objc-arc" only for JSONKit.

Steps:
- select project
- select target
- open "Build Phases" tab
- open "Compile Sources (nn items)"
- on second column, you can specify "Compiler Flags"
- set to "-fno-objc-arc" for each file you want.

[2011-10-12 16:33] adamjernst opened #51 "Why is Unicode NULL codepoint invalid?"
Why is the Unicode NULL codepoint, when properly escaped, invalid? That is, a string like `"Testing\u0000Hello world"`

`isValidCodePoint` returns `sourceIllegal` for the NULL character (`ch == 0U`).  The headers say:

[code]

However, `U_IS_UNICODE_CHAR(0)` returns true.

In addition, RFC 4627 makes a passing reference to U+0000 as being allowed:

I can of course use the LooseUnicode option to re

[2011-10-12 18:24] seanroehnelt commented on #37
Yes, "-fno-objc-arc" works fine when you need a one off class in an ARC project (and don't have time or don't want to convert a specific class(es)... but remember that ARC is still running in a reference counted environment so a well written ref counted library is just as good as an ARC library (yes, potentially an ARC version could be a little faster and/or free memory sooner which could reduce m

[2011-10-20 16:21] ceh329 opened #52 "NSDate support"
Hello,
Can you please add support for NSDate type. I would think you could just map NSDate/CFDate to a String.

Thanks!

[2011-10-20 16:49] mast opened #53 "Memory leak in jk_cachedObjects"
I observe memory leaks, which may be quite significant for me.

I do the following code in my view controller:

[code]

As soon as I move to another controller I get:

Leaked Object   #   Address Size    Responsible Library Responsible Frame
NSCFString,5    < multiple >    144 Bytes   App jk_cachedObjects
 NSCFString,1   0x18ac40    32 Bytes     App    jk_cachedObjects
 NSCFString,1   0x18b340

[2011-10-21 18:52] johnezang commented on #53
While there certainly exists the possibility that there is a memory leak inside JSONKit, at this point it has been in heavy use by a very large number of projects at this point, and most of the major bugs have been fixed.

Pragmatically, this means that the most likely cause of the memory leak is a bug in your code, not JSONKit.  The leak information you're getting is the stack trace of where the

[2011-10-21 18:52] #53 closed, assigned to johnezang

[2011-10-21 18:54] johnezang commented on #51
Well, I have to admit, you certainly did your homework, more so than most people.  :)

Just one question... did you read the `README.md`?  :)

[2011-10-21 19:02] adamjernst commented on #51
Well, look at that, a whole paragraph for this exact issue. :-)

I do disagree, since I think JSONKit should just do the right thing and let the user deal with the security implications. Most users will be using NSString anyway, which does handle null characters correctly. However, yours is a perfectly valid decision.

I would request a more specific error message for this particular case, at leas

[2011-10-21 19:51] johnezang commented on #52
I don't necessarily disagree with you, but I have to balance a number of different priorities.  Therefore, I have, so far, been of the opinion that `NSDate` support should not be brought in to the JSONKit core.

_However_, this is an obviously useful feature.  Therefore, instead of trying to create one off exceptions, I have thought about what the best primitive(s) would be so that users could, at

[2011-10-21 19:51] #52 closed, assigned to johnezang

[2011-10-21 20:01] johnezang commented on #47
Is there any reason why the current block / delegate pattern in place can't be used to implement this?

I don't necessarily disagree with the request. It's more a matter of finding the balance between which features should be included in the core and providing primitives that allows the end-user to easily extend the core to better fit their particular needs.

I'm of the opinion that it's far more

[2011-10-21 20:30] a2 commented on #47
No, you're right. You have to develop for 80% of your target user base. The feature I'm describing would be for encoding entire objects, which is something that could go in a Cookbook file.

Cheers

[2011-10-24 18:15] mast commented on #53
Thanks for your response. You was right and I found leak in my code in very non-obvious place. Sorry that I was complaining JSONKit!

[2011-11-01 23:28] BenHall commented on #27
Sorry to raise this again, but what do you mean by a self. issue? I'm experiencing the same problem.

[2011-11-02 01:22] andrewtgraydc commented on #27
I'll double check my resolution when I get back to my work computer tomorrow

On Nov 1, 2011, at 7:28 PM, Ben Hallreply@reply.github.com wrote:

[2011-11-03 23:57] glesage opened #54 "NSAutoreleaseNoPool"
Hi,

I can't figure out if this error is on my side or on the JSONKit's side but I get NSAutoreleaseNoPool errors for a whole bunch of objects:

date - appName[305:7e07] **\* __NSAutoreleaseNoPool(): Object 0x5c590d0 of class __NSDate autoreleased with no pool in place - just leaking
" " Object 0x5c58f70 of class NSCFString                     autoreleased with no pool in place - just leaking
" "

[2011-11-03 23:58] soffes commented on #54
It looks like you are using JSONKit in a new thread and forgot to setup an autorelease pool in that thread.

[2011-11-04 00:12] johnezang commented on #54
This is definitely not a JSONKit issue. You need to follow the Cocoa memory management rules, one of which is that an `NSAutoreleasePool` must always be present.  The most likely cause for your problem is you started a background thread and forgot to create a `NSAutoreleasePool` at the very start of the threads entry function / method.

[2011-11-04 00:12] #54 closed, assigned to johnezang

[2011-11-04 00:14] glesage commented on #54
Ok, thanks, I think I found that ASIHTTPRequest uses multiple threads automatically and is causing the problem. However I found that it does initialize an autoreleasePool... weird because nowhere else are there threads in my app...

Thanks for the help

[2011-11-08 18:32] soffes opened #55 "Type conversions and deprecated methods"
With the following build options enabled, there are 21 errors:

[code]

It would be awesome if JSONKit didn't cause errors with these options enabled. I tried fixing the issues, but your crazy C stuff is a bit over my head.

[2011-11-15 07:30] MikeWeller opened #56 "Add Unit Tests to repository"
I'm assuming you have some form of automated tests, and I think these should be available in the repository. For those of us making modifications on the codebase it's pretty essential that we have some tests to make sure we are not breaking stuff.

[2011-11-17 21:23] johnezang opened #59 "Add a "stable" branch"
Get around to adding a `stable` branch that can be the formal recommend branch for people that want to include JSONKit via a git submodule.  The purpose would be to track "production quality and stable" changes to JSONKit inbetween version milestones.

The changes that would land in `stable` would be conservative, and people should always feel confident in syncing their local `stable` branch follo

[2011-11-17 21:33] johnezang commented on #56
I definitely agree with this.  The only problem(s) I have with it are purely practical.  The testing harness I have for JSONKit is a hodgepodge of kludged together scripts.  It would have to be significantly cleaned up to make it something I wouldn't be embarrassed to commit to a public repo.. :)

However, should you be so inclined, I did borrow... well, all of the tests that are available in the

[2011-11-17 21:39] johnezang commented on #55
Do you have the particular flags you used to get the warnings?  And which compiler (and version)?  Each version of `clang` seems to change what it whines about, unfortunately.  At one point, JSONKit compiled fairly warning free even with the knobs turned up to 11, though there were still a few warnings that I couldn't do anything about (mostly involving casting between Cocoa / Foundation and CoreF

[2011-11-17 21:48] soffes commented on #55
Here are the keys for those warnings:
- `GCC_WARN_64_TO_32_BIT_CONVERSION`
- `CLANG_WARN_IMPLICIT_SIGN_CONVERSION`
- `CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION`
- `CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS`

I'm using "Apple LLVM compiler 3.0". Thanks John!

[2011-11-19 23:26] j3rm opened #60 "JKDictionary over releassed if inside a NSAutoreleasePool"
I am using ASIHTTP  to download gzip'd data, that is then passed to JSONkit.

ASI has memory issues that can be addressed by wrapping the calls in a
NSAutoreleasePool then releasing when done. I am downloading a LARGE ( very Large)  amount of data and I release the NSAutoreleasePool after every download because ASI will eat a few MB in a few calls..
The side affect of this is the JSONKit calls are

[2011-11-21 21:25] bitfool commented on #37
thanks @florentmorin, that works a charm for now.

[2011-11-21 22:12] j3rm opened #62 "is JKSerializeOptionCompress functional"
I tried this and I got back regular ole NSData. so I'm guessing this is not working at this time, can you confirm. or am i missing something else?
Jeremy

[2011-11-21 22:20] j3rm commented on #54
Gefthebest, What was the resolution? I am using ASIHTTPRequest, and I have found that I need to call it after I setup my NSAutoreleasePool, because of Autoreleased objects that just don't go away and cause problems as I am downloading  LARGE amount of data. I found that if I wrap ASI in a NSAutoreleasePool, and then release for each large call, its memory usage is better but the release causes iss

[2011-11-21 23:08] j3rm commented on #60
**\* -[JKDictionary release]: message sent to deallocated instance 0x113b33e0
is the actual message I am seeing and it happens when I release the NSAutoreleasePool.
the only JSONkit call I make during the scope of my NSAutoreleasePool is
 id myObj = [_jDecoder objectWithData:[request responseData]];
I am not releasing _jDecoder till dealloc is called.

Any help greatly appreciated.

[2011-11-22 01:25] arschles opened #63 "Integral double values are encoded as integers"
if I run this code:

[code]

I get this json:

[code]

I'm not intimately familiar with the JSON spec, but this encoding was causing me some problems where I expected a double to come back on decode, but an int came back.

I implemented a possible fix locally, but I'd like to hear feedback before I fork and submit a pull request. The fix is to change the format string at https://github.com/johneza

[2011-11-22 02:38] glesage commented on #54
In fact I found that I was doing a "performSelectorInBackground" call which effectively is a change of thread.
I just added NSAutoreleasePool\* pool = [[NSAutoreleasePool alloc] init]; and the [pool release] around the method that I was calling on a separate thread.
When I say around, I mean inside the method, but must start the pool before any instantiations are made and must release after all re

[2011-11-22 03:30] j3rm commented on #54
Thanks Jeff, my entire sync process is on a separate thread but everything ASI and JSON is called on the same thread.. so i don't think that's my problem, Thanks again for the reply.

[2011-11-23 21:15] #60 closed, assigned to nobody

[2011-11-23 21:15] j3rm commented on #60
This is not an issue with the library, it was with my code, I was releasing a NSDictionary object that was holding the Json data after processing and once I stopped releasing it manually, the error no longer persist.

[2011-11-23 22:36] j3rm commented on #36
I show the same thing. Look in

static JKDictionary *_JKDictionaryCreate(id *keys, NSUInteger *keyHashes, id *objects, NSUInteger count, BOOL mutableCollection)

The line is

if(JK_EXPECT_F((dictionary->entry = (JKHashTableEntry *)calloc(1UL, sizeof(JKHashTableEntry) \* dictionary->capacity)) == NULL)) { [dictionary autorelease]; return(NULL); }

I show 99% next to the line. I have screen shots th

[2011-11-25 18:21] pepobit opened #64 "Error decoding JSonString"
Hello,

I have this JSON string:

{"data":
         {77: {"number": 0, "photo": ""},
         {78: {"number": 3, "photo": ""},
         ...
};

My code is:

  JSONDecoder *jsDecoder = [JSONDecoder decoder];
  NSArray *arrayElements = [jsDecoder objectWithData:responseDara error:&msgError];

To decode gives the error "Error Domain = JKErrorDomain Code = 1 " Expected to "STRING" or a '}', not '77' "

[2011-11-25 19:27] djbe commented on #64
That's because your json is incorrect. It could be corrected to, for example:

[code]

[2011-11-25 19:47] johnezang commented on #64
The problem is that the JSON you are trying to parse is not well formed.  JSONKit is designed to parse JSON as it is defined by the [JSON RFC 4627](http://tools.ietf.org/html/rfc4627).

You can use something like [JSONLint](http://jsonlint.com/) to quickly check if the JSON you are having problems with is, in fact, really JSON, and not some Javascript trying to pass itself off as JSON.

[2011-11-25 19:48] #64 closed, assigned to johnezang

[2011-11-25 23:59] djbe commented on #59
This might be a good starting point:
http://nvie.com/posts/a-successful-git-branching-model/

[2011-11-27 11:12] johnezang commented on #63
This is a sticky corner case.  It is, however, documented behavior in the `README.md` (_queue trumpets blaring_).  The passage in particular is:

The very short answer: You're pretty much screwed.  Fundamentally and throughly.

From the `printf` documentation, I note the following (wrt/ `#` modifier):

Yuck.  So basically every single floating point number becomes 17 digits long.  The cure is wors

[2011-11-27 11:18] johnezang commented on #62
Errr, well, `NSData` is what it should return....  of course, the bytes contained in the returned `NSData` are the result of being run through `libz`, which is to say, it was compressed.

AFAIK it works, but I haven't tried it in awhile.

[2011-11-27 12:05] johnezang commented on #37
In case anyone is wondering.... the short answer is no, ARC will not be supported in JSONKit.

The solution is to use the per-file `-fno-objc-arc` option hackery.  Works just fine.

The longer answer is... too long for github.com issue post.. :)  But seriously, anyone suggesting that ARC is the best f'ing thing since slice bread and, so help me, better than the invention of the symbolic assembler

[2011-11-28 06:46] arschles commented on #63
Hey John,

I understand and agree with pretty much everything you said, except that the cure is worse than the disease. I think that it's only slightly better than the disease, but my opinion may change :). I'm going to fork and make the change to add the # modifier for now.

[2011-11-28 06:46] arschles commented on #63
Thanks for your response, by the way

[2011-11-29 12:24] pepobit opened #65 "How to access elements of json"
With the following jsonstring, I have access to pilots:

{
    "1": {
        "name": "XXX",
        "pilots": {
            "pilot": {
                "name": "YYYY",
                "image": "",
                "years": "28"
            },
            "copilot": {
                "name": "ZZZZ",
                "image": "",
                "years": "24"
            }
        }
    },
    "2": {

[2011-12-04 22:09] j3rm commented on #65
Those are NSArrays, actually you have a little extra Array in there with the Pilot:{} and copilot. which are just single entity arrays..not sure this is the most effective way to put your pilots together, ideally I would move the Copilot and pilot to a key with in the array where the pilots name is. But not sure you can change your json. Having a Pilots array with all "Pilots" in it would be simpl

[2011-12-04 22:10] j3rm commented on #36
Any update on this?

[2011-12-06 21:28] j3rm commented on #36
I' d really like to see this fixed. Sooner than later. Any chance a Paid support Session would get this resolved?

[2011-12-07 00:34] ohhorob commented on #36
You should consider using heapshot analysis to resolve your memory issues (http://www.friday.com/bbum/2010/10/17/when-is-a-leak-not-a-leak-using-heapshot-analysis-to-find-undesirable-memory-growth/).

While it's possible you've found a bug in JSONKit, it's far more likely that your codes' object management strategy is causing the leaks.

[2011-12-07 04:50] j3rm commented on #36
if its my code id be so happy, i can fix that.  ill look into it and report back, thanks for the tip.

[2011-12-08 05:07] j3rm commented on #36
I have looked into this article and i tried to employ the methods but all of the alloc and retains appear to be happening with in the jsonkit libraries, and everything brings me back to the same line of code.

My code that calls jsonKit is wrapped around a dedicated NSAutorelease pool and I am not copying, retaining  etc anything I get form the jsonKit decoder. Would love to see this fixed, it cau

[2011-12-08 12:46] sbooth commented on #36
Can you concoct a simple example that illustrates the issue?

[2011-12-09 15:40] MikeWeller commented on #36
I suggest you use the Allocations tool in Instruments with the "Record reference counts" option enabled. It will tell you exactly where the objects are being alloc'd, retained and released.

I'm sorry to have to side against you, but I've used JSONKit a lot myself without coming across memory leaks, so I have to say it sounds like a problem in your own code. We could all be wrong though :)

[2011-12-14 16:06] leearmstrong commented on #36
I think I get this issue too although not sure 100%.

The code I have is

<code>

[code]

</code>

And the leak is shown as

<img>http://lesmond.net/images/JSONLeak.png</img>

[2011-12-14 17:43] johnezang commented on #36
@leeus,

You assigned the object that JSONKit creates to `self.mainDictionary` using the following line:

[code]

... are you sure that in `_self`'s `-dealloc` method you are properly releasing `mainDictionary`?  I suspect you forgot to `[_mainDictionary release];`, or something along those lines (where `_mainDictionary` directly references the ivar for the `mainDictionary` property).

[2011-12-14 17:56] leearmstrong commented on #36
Ah ok thanks, it is actually a Singleton and the mainDictionary is an NSDictionary.

I am not releasing it anywhere so the leak comes on the second run I suppose when I try and set an NSDictionary again and it doesn't dispose of the old object correctly.

Hopefully that is it!  Thanks and sorry!

On Wednesday, 14 December 2011 at 17:43, johnezang wrote:

[2011-12-14 18:06] johnezang commented on #36
@j3rm,

I'm sorry, but there really is no update.  You have provided very little information, other than
- The line in JSONKit that allocates memory for the returned object.
- You are getting "a ton" of leaks.

At this point, JSONKit has been used extensively by a great many people and many apps.  This does not mean it is bug free or does not have memory leaks, but more than likely the problem is

[2011-12-14 18:09] johnezang commented on #36
@leeus,

From your description, it sounds like you probably have the `@property` declaration set to `assign`, when it really should be `retain`.

[2011-12-14 18:12] leearmstrong commented on #36
No it is set to retain.

Sorry to sound like a noob but should I be able to set

self.mainDictionary= aDictionary

After already being set?

On 14 Dec 2011, at 18:09, johnezangreply@reply.github.com wrote:

[2011-12-15 17:12] j3rm commented on #36
@johnezang, I believe my problem to be resolved. its not with JsonKit.
Thanks for the reply.

[2011-12-19 01:06] johnezang commented on #39
Added a note to `README.md` to a site (http://www.bonto.ch/blog/2011/12/08/json-libraries-for-ios-comparison-updated/) that benchmarks `NSJSONSerialization` and JSONKit.

[2011-12-19 01:06] #39 closed, assigned to johnezang

[2011-12-24 06:27] DavidBoyes commented on #27
I had the same problem, it was a retain/release problem for me.

[2012-01-04 14:39] andrefmsilva opened #67 "Custom Objects automatic conversion to Json"
It would be great if custom objects can be mapped into JSON automatically.
I've done this myself with an categorie for NSObject and using runtime Introspection, i can provide my code if wanted.

For mapping JSON strings in my custom objects i'm using https://github.com/MuhammadHewedy/ObjectMapper with some modifications and for now is working great! Parsing JSON to custom objects and create JSON f

[2012-01-11 08:40] tonyxiao commented on #62
I'm experiencing similar issue. The `JKSerializeOptionCompress` doesn't seem to do anything. The returned NSData is still exactly the same size as before, compression seems not to take place.

[2012-01-11 22:55] funkadelic opened #68 "NSInternalInconsistencyException runtime error (mutating method sent to immutable object)"
hi, i am attempting to migrate an existing iOS app from SBJson to JSONKit, and i'm running into this runtime error:

`<Error>: *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '*** -[JKArray replaceObjectAtIndex:withObject:]: mutating method sent to immutable object'`

All i've done in my app is replace SBJson's `JSONValue` to JSONKit's equivalent `objectFr

[2012-01-12 21:31] funkadelic commented on #68
this was my issue, not JSONKit's. I was trying to operate on a inmutable object (as the exception states); changing it to a mutable object fixed it

[2012-01-12 21:31] #68 closed, assigned to nobody

[2012-01-24 02:10] derekjensen commented on #51
Bump.  I would like to see this fixed too.  I agree that the security issue is mitigated by using the NSString class, and valid Unicode and JSON should be respected.

[2012-01-24 17:12] filmaj commented on #51
+1

[2012-02-03 05:55] jockm commented on #37
"Premature optimization is the root of all evil" -- Knuth (and/or Hoare)

The funny thing is I have yet to meet a single person who believes the primary reason for GC or ARC is performance.  I can't imagine anyone would.  The reason for them is to remove one of the most common sources of memory leaks and programmer error.  Except for a handful of limited cases the compiler and/or runtime environme

[2012-02-06 05:30] mcoombe opened #69 "Handling Unicode Byte Order Marks"
During deserialization, the current behaviour of JSONKit is to halt parsing with an "unexpected token" type error if a byte order mark is encountered at the beginning of the JSON data.

This is highly undesirable, as many text editors (windows Notepad being a prime example) used to manually produce JSON documents do not provide an option to omit a BOM when saving text encoded using Unicode. Thus,

[2012-02-09 06:48] teerapap commented on #47
I agree that block/delegate pattern is useful enough. However, in case there are many objects of unsupported classes, there would have many temporary NSDictionary or NSArray objects along the serialization.

Is there a way to deal with this situation?

How about an selector of the delegate that serialize the object by itself to a buffer or NSMutableData which JSONKit provided.

[2012-02-22 16:25] philtre opened #72 "feature request: parse hex integers ("hexval": 0xFF)"
It would be really helpful to have a flag that enables parsing hexadecimal numbers, such as 0xFFCC3366 directly into NSNumber type. Right now, I use strings (eg. "FFCC3366"), which I then parse within my code using NSScanner. This is very tedious, especially when I need an array of color values.

So this:
`{ "colors": [0xFF, 0xCC, 0xEE, 0xFFCC3366] }`

would be equivalent to:

`{ "colors": [255, 2

[2012-03-20 02:35] rfurno opened #75 "Unable to parse JSON with apostrophe instead of quote"
Given a doc like with single quotes surrounding the key (instead of double quotes)
{'key':'abc'}
The parser will fail with the message: "Unexpected token, wanted '{', '}', '[', ']', ',', ':', 'true', 'false', 'null', '\"STRING\"', 'NUMBER'."

[2012-03-20 05:09] kgn commented on #75
Single quotes are invalid JSON

[2012-03-22 17:50] #75 closed, assigned to johnezang

[2012-03-22 17:58] jkubicek commented on #53
I'm seeing the same leak. See this line of code in jk_cachedObjects:

https://github.com/johnezang/JSONKit/blob/master/JSONKit.m#L2038

[code]

`parsedAtom` is created with a `create` method, yielding an object with +1 retain count. `CFRetain` is called on the parsedAtom yeilding a +2 retain count. The parsedAtom is not released.

Just making the change to remove the `CFRetain` isn't sufficient; t

[2012-03-22 18:25] johnezang commented on #53
@jkubicek,

Please open a ticket with a concise test case that reproduces the memory leak.

At this point JSONKit is fairly mature and stable, and used in a lot of real world applications, none of which are experiencing memory leaks due to JSONKit.

To the best of my knowledge, every report of JSONKit leaking memory has turned out to be user error- the leak was caused by over retaining an object t

[2012-03-23 22:54] adambemowski commented on #27
Had the same issue, I was trying to set the output straight to a dictionary I had created.
myDictionary = [string objectFromJSONString];

solved it by setting the output to a temporary dictionary and making a copy
NSDictionary *tempDictionary =[string objectFromJSONString];
myDictionary = [tempDictionary copy];

JSONKit is a very nice tool I will continue to use it!

[2012-03-23 23:08] haikusw commented on #37
Just watched the 2011 WWDC video on ARC and from that it is pretty clear there are cases where ARC and the related compiler optimizations will result in faster code, but there are also cases where it might slow things down.

The ReadMe for JSONKit should be updated to reflect that -fno-objc-arc works, if it in fact does.  Because at the moment it says:

 and yet in the comment above @johnezang say

[2012-03-24 02:04] johnezang commented on #37
@haikusw,

Which one is it?  Both.

ARC is "supposed" to interoperate just fine with non-ARC code, but there is virtually no documentation about the technical details of "how" ARC works that would allow me to say with confidence that there wont be any issues.

On the other hand, you can compile JSONKit using the `-fno-objc-arc` compiler option and it should "work just fine<sup>&Dagger;</sup>". I'm

[2012-03-24 02:05] #37 closed, assigned to johnezang

[2012-03-24 02:07] cbowns commented on #37
@haikusw “Works just fine” in combination with that compiler flag should be construed as “works just fine”: the compiler is treating the file with normal retain-release gloves, so the emitted assembly will (or should) be exactly the same as compiling JSONKit in a non-ARC project.

[2012-03-24 02:39] haikusw commented on #37
Wow, my comment was the one that made @johnezang close this issue - I feel honored. :)  Nice reply from @johnezang though (thanks) with some excellent specifics to feed nightmares.  Fodder for a few Radars I suppose.   After a quarter century of programming I have to admit to a level of distrust of "magic! it just works!" nearly as high as yours johnezang. :-P

That said, I found WWDC 2011 session

[2012-03-24 21:47] ghost commented on #56
There is a 3rd alternative:

put the unit tests and other cruft into a project called JSONKitTests and link to that project near the top of README.md.

Long term, you could figure out how to merge the two projects or whatever.

Having the code as a simple 2-file JSONKit.{m,h} is really nice, but I was concerned about the lack of tests when I ran across this project.  However, after reading the det

[2012-03-24 22:00] ghost opened #76 "Should include simple examples in documentation"
This is an AWESOME library.

It would be MUCH easier to consume if there was a basic "hello world" example near the top of the documentation.

My favorite example of example-based documentation is the Zombie.js project: http://zombie.labnotes.org/

Something like:

[code]

[2012-04-17 10:27] ghost opened #77 "strange bug on these values"
if JSON contain 2 field of data which first field contain 11000.0 (exactly number with float value) and also second field contain
number 35.0 (exactly number with float value) as well.  For example :

[{"No. Of Shares":11000.000000},{"LastSale":35.000000}]

then the result we get will show like :
No. Of Shares = 11000
LastSale = 11000

Actually, there is no other case that I can find at the moment

[2012-04-24 03:06] a-v-ebrahimi opened #78 "problem while reading weather data"
Hi

I need to read following JSON string :

{
data: {
current_condition: [
{
cloudcover: "0",
humidity: "58",
observation_time: "01:51 AM",
precipMM: "0.0",
pressure: "1016",
temp_C: "11",
temp_F: "52",
visibility: "10",
weatherCode: "113",
weatherDesc: [
{
value: "Sunny"
}
],
weatherIconUrl: [
{
value: "http://www.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png"
}
],
winddi

[2012-04-26 07:26] PaulCapestany commented on #78
When you try to access `response3` the app crashes for you because `current_condition` is an **NSArray**, _not_ an **NSDictionary**.

The JSON format specifies that array items are placed within brackets `[…]`, whereas dictionaries are placed within curly braces `{…}`.

So instead of:

[code]

Try this:

[code]

So if you **NSLog()** `theActualValueOfTheWeatherIconURL`, you should get the string t

[2012-04-26 13:28] a-v-ebrahimi commented on #78
Thank you very much Paul

It fixed my problem, since I have roots in Java and C#, i have difficulties in understanding Objective C!

Best regards

[2012-04-26 13:28] #78 closed, assigned to nobody

[2012-05-06 10:12] trawor opened #79 "isa is deprecated"
I got lots of warning like this: `/PATH/JSONKit.m:2602:11:
Direct access to objective-c's isa is deprecated in favor of object_setClass() and object_getClass()`

My Xcode is up to 4.4 DP4

[2012-05-12 07:52] christo16 commented on #79
Same issue here, happened after upgrading.

[2012-05-16 14:42] groue commented on #37
@johnezang, I'm curious : could you please explain why the retain/autorelease dance is so important in the lock/unlock example?

[2012-05-17 12:01] johnezang commented on #37
Well, it has a lot to do with what the following **means**, for some strong, hyper pedantic definition of **means**.  I'm going to make one change to the previous example- Instead of using `[arrayProtectedByMutexBarrier objectAtIndex:0]` as the object to be retained and release, I'm going to use `ivarProtectedByMutexBarrier`, which for simplicity is nothing more than an ivar defined in the example

[2012-05-17 15:53] benzado commented on #37
@johnezang Regarding your last point, that "no one really thought through any of the finer points and corner cases" --- the C99 standard has rules about "C pointers" but doesn't cover "Objective-C pointers". It's right there in the compiler error message:

[code]

ARC effectively introduces a new type, with new rules, in order to make the behavior of ARC predictable. It's much more than just magic

[2012-05-19 14:56] dchohfi commented on #67
I've made a framework that does the same, but with some cons. Checkout https://github.com/dchohfi/KeyValueObjectMapping

[2012-05-21 07:33] shannoga commented on #79
Same issue  on 4.4 DP5

[2012-05-21 23:21] ghost opened #80 "float/double conversion"
-- edit withdraw

having a plist

[key]freq[/key]
[real]0.6[/real]

json export:

"freq":0.59999999999999998

expected

"freq":0.6
# NO BUG

apple does the same thing , annoying, math rounding sucks

[2012-05-21 23:34] #80 closed, assigned to nobody

[2012-05-21 23:46] ghost commented on #52
if you store them the same way than a plist e.g iso GMT (the secret never include the time shift always store GMT), then you try to match the mask using posix regexp, thus that's easy to create the date from string you have the formatter @"yyyy-MM-dd'T'kk:mm:ss'Z'" and server side the same what so ever php ruby perl

[code]

[2012-06-06 05:34] voicecho opened #81 "Three blue warnings in "JSONKit.m""
Three blue warnings in "JSONKit.m":
1)Dead code on line 744: anObject = [anObject retain]
2) Dead code on line 791: anObject = [anObject retain]
3)Logic error on line 865: encodeState->serializeOptionFlags = optionFlags

Xcode version is 4.2

[2012-06-06 05:55] #81 closed, assigned to nobody

[2012-06-11 08:06] quentinfasquel opened #82 "writeToFile:atomically:"
I don't really understand why a JKDictionary (which is a a subclass of NSMutableDictionary) fail with the writeToFile:atomically: method.

[2012-06-13 10:02] oneredstar commented on #79
This can be fixed by replacing

[code]

with

[code]

You will also need to replace

[code]

with

[code]

and

[code]

with

[code]

[2012-06-14 08:28] shannoga commented on #79
Thanks, When trying to replace I noticed this note on the file:
<code>
  Why not just use `object_getClass()`?  Because `object->isa` reduces to (typically) a _single_ instruction.  Calling `object_getClass()` requires
  //     that the compiler potentially spill registers, establish a function call frame / environment, and finally execute a "jump subroutine" instruction.
  //     Then, the called

[2012-06-14 08:55] oneredstar commented on #79
You can still keep using **object->isa**, but eventually that will be dropped as it is deprecated, unless there's a faster way to do the same thing without using **object_getClass()**, it is the next best solution for now.

If you still wish to use **object->isa**, you can suppress the warnings.

[2012-06-14 09:00] MSch commented on #79
Regarding the `object->isa` deprecation, once thing I'm not sure of:

Does `isa` return the `NSNumber` for the new `NSNumber`s that are implemented via tagged pointers? (AFAIK that's the reason `isa` is deprecated)

[2012-06-16 08:38] zcohan opened #83 "Compiler warnings in Xcode 4.5"
There are 35 compiler warnings when using LLVM 4.0 in Xcode 4.5 (developer preview) on 10.8 Mountain Lion:
http://cl.ly/HSNg

[2012-06-20 14:42] fareal commented on #83
Happening on 10.7 Lion with iOS 6 SDK as well. Fix would be greatly appreciated.

[2012-06-24 05:35] #83 closed, assigned to johnezang

[2012-06-24 05:38] #79 closed, assigned to johnezang

[2012-07-11 02:43] Whirlwind opened #84 "get a warning in Xcode 4.5 dp2"
I get a waring : JSONKit.m:747:3: Null pointer argument in call to memory copy function

[2012-07-11 22:58] catarino commented on #84
I've managed to fix all the other warnings (as you can see in my fork https://github.com/catarino/JSONKit) but the last one standing is precisely the same mentioned here.

[2012-07-11 23:00] catarino commented on #84
memcpy(objectsPtr, objects + range.location, range.length \* sizeof(id));

[2012-07-12 00:59] Whirlwind commented on #84
I still get the warning.
:(

[2012-07-12 14:03] avrahamshukron opened #85 "Cannot parse root JSON element that aren't array or object"
If I have a JSON that is not a structure (array or object) it is not parsed.
Is it a bug or is it the standard that requires that the root element will be a structure?

Examples:
<code>
1.4
"Just a string"
true
false
</code>

All of these failed to parse.

[2012-07-12 17:01] johnezang commented on #85
JSONKit will only parse valid JSON, where valid JSON is defined by [RFC 4627](http://tools.ietf.org/html/rfc4627) (the JSON standard).  All valid JSON begins with either a `[` or a `{`.

You can use the [JSONLint](http://jsonlint.com/) web site to quickly check if something is valid JSON.

[2012-07-12 17:01] #85 closed, assigned to johnezang

[2012-07-12 17:26] johnezang commented on #84
This isn't a bug or a problem in JSONKit, it's a problem with `clang`.  It could be argued that this is a bug with `clang`, depending on how big a problem you consider false positives to be.

The static analyzer clearly thinks that the use of `objects` (as an argument to `memcpy`) could potentially be `NULL`.  The analyzer can't _prove_ that it's `NULL`, only that it could possibly be `NULL`, larg

[2012-07-12 17:31] catarino commented on #84
Fair enough. Thank you. @johnezang :)

[2012-07-12 17:37] johnezang commented on #84
Fixed on both `master` and `stable`.

[2012-07-12 17:37] #84 closed, assigned to johnezang

[2012-07-12 17:48] catarino commented on #84
Man, you rock. All Good here. :) Thx

[2012-07-13 02:12] Whirlwind commented on #84
Good. Thx :)

[2012-07-20 09:30] malayli opened #86 "Crash: [JSONDecoder objectWithUTF8String:length:error:]"
This a crash that I had when I tried to parse a JSON file. Unfortunately, I don't have this JSON file. I hope that it can help you...

Thread 10 Crashed:
0   Viadeo                              0x000d052a jk_parse_next_token (JSONKit.m:1755)
1   Viadeo                              0x000d117f jk_object_for_token (JSONKit.m:1891)
2   Viadeo                              0x000d13b9 jk_object_for_token

[2012-08-02 10:09] zhangyawei opened #88 "objectFromJSONData problem"
字符串里  double 型 ，会截断小数点后的。

eg:    "lon": 116.39022900000001  call  objectFromJSONData , result  is   "lon": 116

  details:

[code]

below is string:

{"has_more": true, "items": [{"mayor_description": null, "tel": "", "name": "\u56fd\u5bb6\u4f1a\u8bae\u4e2d\u5fc3", "lon": 116.39065600000001, "has_event": false, "has_surprise": false, "has_mayor_coupon": false, "link": "http://jie.pn/l/92gi7", "la

[2012-08-07 00:39] drekka commented on #79
I was researching this issue and found https://gist.github.com/2171491 which suggested to me that object_getClass() is no longer slower that isa.

[2012-08-07 18:56] catarino opened #90 "(as of Xcode 4.5b4) 2 Memory Errors"
- JSONKit.m:682:23: Memory is never released; potential leak of memory pointed to by 'array'
- JSONKit.m:933:58: Memory is never released; potential leak of memory pointed to by 'dictionary'

[2012-08-12 10:10] ghost opened #92 "Failed to parse what seems to be a valid JSON"
I've been writing my implementation of BSON parser and stumbled upon curious bug
Following JSON trips up many parsers (even `JSONLint` validator), but it seems like it's a valid one from the spec point of view
Also, `NSJSONSerialization` class parses it just fine
Here is the JSON itself:

[code]

Funny enough, in objective c you can access the first value through `valueForKeyPath:@".a"` and the se

[2012-08-12 17:52] johnezang commented on #92
The JSON you provided isn't valid JSON, at least according to [RFC 4627](http://tools.ietf.org/html/rfc4627).  You can use the web site http://jsonlint.com/ to verify suspect JSON.

The problem is the second to the last line: `"a": 1,` and specifically with that trailing comma.  For valid JSON, the last item in a JSON dictionary can't have a trailing comma.

[2012-08-12 17:53] #92 closed, assigned to johnezang

[2012-08-12 18:01] ghost commented on #92
Ugh my bad, should've slept more.
Sorry

[2012-08-14 21:02] jimerman opened #93 "Direct access to isa deprecated in XCode 4.4"
After upgrading to iOS 6 Beta 4 / XCode 4.4, I get the following build warning in JSONKit.m:

Direct access to objective-c's isa is deprecated in favor of object_setClass() and object_getClass()

In order to keep the code current and working in future releases (where the deprecated function is no longer supported), do you have an update that uses the new calls?

[2012-08-15 17:45] mouser commented on #93
duplicate from https://github.com/johnezang/JSONKit/pull/89

See my comment near the end for a fix.

[2012-08-19 01:33] cysp opened #94 "-[NSData objectFromJSONData…] throws on an empty NSData"
It appears that a `NSData` object of length 0 can(?) return `NULL` for `-bytes`.
This has the effect that handing a valid `NSData` to JSONKit blows up internally when it ends up at `-objectWithUTF8String:…`, as `string` is then asserted to be non-`NULL` (by raising an `NSException`).

Reduced testcase:

[code]

Unreduced testcase (to show that it's not just a theoretical issue :-) ):

[code]

[2012-08-22 22:08] iosdeveloper opened #95 "Earliest deployment target?"
That information needs to be added to the read me file as well.

Can I target iOS 3.1 with JSONKit?

[2012-09-12 08:21] benrudhart opened #98 "analyzer warnings"
There are two "Memory is never released" warnings (analyzed with Xcode 4.5 (4G144l))

[2012-09-12 23:05] dickbrouwer commented on #98
Also in the GM (4G182)

[2012-09-18 03:25] YuAo commented on #98
Same problem

[2012-09-20 15:16] carlj commented on #98
Same here with the Release XCode 4.5 (4G182) Version!

[2012-09-21 20:08] shazron commented on #90
see #98 (dupe)

[2012-09-21 20:11] shazron commented on #98
I tried adding NS_RETURNS_RETAINED to the function headers, the static analyzer still complains.

The two warnings are here:
1. https://github.com/johnezang/JSONKit/blob/82157634ca0ca5b6a4a67a194dd11f15d9b72835/JSONKit.m#L682
2. https://github.com/johnezang/JSONKit/blob/82157634ca0ca5b6a4a67a194dd11f15d9b72835/JSONKit.m#L933

[2012-09-24 23:34] GlennChiu commented on #98
I got a message from Shazron and I finally had time to take a look.

In both cases: It's a manual calloc and then the pointer gets reassigned via the instance init method. So that's why the analyzer complains about memory leaks.

I have updated my fork of this library and I think this is the solution: https://github.com/GlennChiu/JSONKit/commit/2570575ac4dec7878bd2795a97b6964b0d2aed49

I have not

[2012-09-25 15:23] andrewtgraydc commented on #27
BenHall, did you ever fix yours?

[2012-09-26 12:27] borut-t opened #100 "potential leak of memory pointed to by 'array'"
JSONKit.m:682:23: Memory is never released; potential leak of memory pointed to by 'array'

[2012-09-26 12:27] borut-t opened #101 "potential leak of memory pointed to by 'dictionary'"
JSONKit.m:933:58: Memory is never released; potential leak of memory pointed to by 'dictionary'

[2012-09-26 20:59] stokes770 commented on #98
addition of those two lines crashed for me....

[2012-09-28 19:01] catarino commented on #98
crashed for me too

[2012-09-29 03:16] shazron commented on #100
dupe of #98

[2012-09-29 03:17] shazron commented on #101
dupe of #98

[2012-09-29 03:19] shazron commented on #98
GlennChiu's patch is incorrect - you can't free the memory there because in the next line the "init" message is sent to it (that's why it crashes).

I finally had more time to look into it. I've tested it in my unit tests and they seem to work fine. Inspect my changes:
https://github.com/shazron/JSONKit/commit/5c330695e8b689e6ffb5b79db23cb630b0e921f8

[2012-09-29 04:52] pianofab commented on #98
I inspected https://github.com/shazron/JSONKit/commit/5c330695e8b689e6ffb5b79db23cb630b0e921f8 -- please see my comments there.

[2012-09-29 21:49] GlennChiu commented on #98
I feel quite embarrassed about my proposed solution. I should've known better.

I have been thinking about making it a regular alloc/init call as well, just like pianofab suggests: https://github.com/GlennChiu/JSONKit/commit/ce2db0cadeb7bd3fdefdcaa9c26f5cda17de9166

[2012-09-30 20:07] Bo98 commented on #98
What I don't really understand is why the analyzer is complaining about `calloc` but not something like `class_createInstance` (which is basically the same if I'm not mistaken).

[2012-10-01 15:05] spckj opened #102 "JSONKit Appears to be causing crashes, EXC_ARM_DA_ALIGN"
My App uses JSONKit and I recently checked the crash report and received some interesting crashes. There seems to be an error in jk_collectionClassLoadTimeInitialization causing EXC_ARM_DA_ALIGN. This is all a little low level for me to understand, but below is the crash report.

Hardware Model:      iPhone3,3
Code Type:       ARM (Native)
OS Version:      iOS 6.0 (10A403)
Exception Type:  EXC_BAD

[2012-10-04 17:18] pianofab commented on #102
Can you confirm you are using the latest version of JSONKit? On my machine line 629 is the blank line after "static size_t                              _JKDictionaryInstanceSize               = 0UL;"

[2012-10-04 21:00] Bo98 commented on #102
Line 629 is a blank line here too.

https://github.com/johnezang/JSONKit/blob/master/JSONKit.m#L629

[2012-10-08 18:48] spckj commented on #102
I was pretty positive that I had the most recent version, however mine also didn't line up line for line with the code that is in that .m. There was a 9 or so line difference. I updated my jsonkit.m file, but I can't be sure if this issue will go away until another build is on the store for a while.

[2012-10-11 17:27] Thrawn123 opened #103 "JSONKit appears to be crashing on app load, EXC_BAD_INSTRUCTION (SIGILL)"
My app seems to be crashing on some devices on startup after they upgrade to a new version of the app.  All the crash reports I have seen all seem to point to JSONKit.  Any help/suggestions would be greatly appreciated.  JSONKit.h and JSONKit.m are compiled directly into the app.  Thank you in advance.

Hardware Model:      iPad3,2
Code Type:       ARM (Native)
OS Version:      iOS 6.0 (10A403)
Ex

[2012-10-16 17:28] jymmyt commented on #103
We are seeing this same crash, but only on the binary downloaded from the App Store.  Testing the same binary resigned for AdHoc delivery, we are not able to recreate the issue.  Has anyone found a resolution this yet?

[2012-10-16 18:29] Bo98 commented on #103
@jymmyt

Is it the same hardware model and/or OS version as what Thrawn123 posted?

[2012-10-16 18:32] Thrawn123 commented on #103
I am seeing crash reports like this from both iPads and iPhones.  Up to this point they all seem to be iOS 6.

[2012-10-16 18:35] jymmyt commented on #103
All iOS 6, but different h/w models.

[2012-10-16 18:40] Thrawn123 commented on #103
The weird thing about it, it only happens when updating the app from the app store.  A manual fix that works every time is to delete the app and then redownload it from app store.

[2012-10-16 18:44] jymmyt commented on #103
@Thrawn123 Yes, that is the same behavior we have, it only crashes on update.

[2012-10-19 11:08] tarbayev opened #104 "JSONDecoder objectWithData:error: throws unnecessary exception when data object has zero length."
In method:

[code]

-[NSData bytes] returns nil, if the length of the receiver is 0.

This causes raising exception in:

[code]

According to Apple's recommendations, a good practice would be to return nil when string is equal to NULL in second method and raising no exception. This will make behavior more stable.

[2012-10-22 13:36] hanneshal commented on #104
+1 for this solution

[2012-10-25 18:32] ndfred commented on #103
We experienced the exact same issue last week: some users upgrading the app from the App Store on their iOS 6 device had this crash. The crash being on the function call and not on the code inside the function and `jk_collectionClassLoadTimeInitialization` probably being the first code that runs from within the app, I can only speculate that symbols got mixed up by dyld leading to a "I won't execu

[2012-10-26 18:25] loops-and-spells commented on #103
jk_collectionClassLoadTimeInitialization (JSONKit.m:638)

NSAutoreleasePool *pool = [[NSAutoreleasePool alloc] init]; // Though technically not required, the run time environment at load time initialization may be less than ideal.

[2012-10-28 11:51] constantine-fry opened #105 "Instruments show memory leaks in JSONKit"
static void *jk_cachedObjects(JKParseState *parseState)
in this method you create/allocate parsedAtom.
But when you release this object?

return(parsedAtom);//retainCount here = 2

[2012-10-29 16:08] ndfred commented on #103
After investigating a bit more, some +load methods are called before this JSONKit function is, so the symbols look right.

We have an ARC binary that has JSONKit compiled in with `-fno-objc-arc`. `jk_collectionClassLoadTimeInitialization` is the first non-ARC code that is called. Maybe the `NSAutoreleasePool` call somehow causes the crash. Still investigating.

[2012-10-29 17:13] pianofab commented on #103
Please confirm that you are not using JSONKit within an application compiled with ARC. (JSONKit is not compatible with ARC, see documentation.) See also https://developer.apple.com/library/mac/#documentation/Cocoa/Reference/Foundation/Classes/NSAutoreleasePool_Class/Reference/Reference.html as to the NSAutoreleasePool which is not legal with ARC.

[2012-10-29 17:14] pianofab commented on #102
Please confirm that you are not using JSONKit within an application compiled with ARC. (JSONKit is not compatible with ARC, see documentation.)

[2012-10-29 17:50] ndfred commented on #103
JSONKit wouldn't even compile if we tried to build it with ARC. As I said, we compiled `JSONKit.m` with the `-fno-objc-arc` switch, which allows us to mix ARC and non-ARC code. `NSAutoreleasePool` is a valid class in a file compiled with `-fno-objc-arc`.

[2012-10-29 18:04] ndfred commented on #103
Filed radar 12507530 to track the issue.

[2012-10-30 09:00] DTown commented on #103
Got the same issue with my App. Did not change much since the last update, just a some lines of harmless code, that should not make the app crash directly after app start. Reinstalling the App helps, but updating leads to that crash on some devices (iOS6). JSONKit is implemented in the AFNetworking framework, that I use, everything worked fine so far and still works except for that AppStore iOS6 u

[2012-10-31 09:18] mikanx commented on #103
With our last update built with xcode 4.5.1 our app crashes on startup, but only with the downloaded appstore version. any other versions (debug, adhoc or release) installed by xcode on the device did not crash. The crash log shows:

Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Codes: KERN_INVALID_ADDRESS at 0x00000051
Crashed Thread:  0

Thread 0 name:  Dispatch queue: com.apple.main-threa

[2012-11-02 08:29] DTown commented on #103
Hi Guys,

Apple gave me the answere that they soved the update problem for my app, so I inserted it in the app store again, and now everything works fine. So maybe you should contact Apple ...

I had the following exception type

Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Codes: KERN_INVALID_ADDRESS at 0x00000000

That's what Apple wrote me:
We believe this issue has been resolved.  If yo

[2012-11-06 14:47] ndfred commented on #103
Apple sent a re-update of our app earlier last week. Apparently that's a delta update issue specific to some apps on iOS 6 affecting users updating apps from the App Store on their device. To my knowledge, this is not a JSONKit issue. You should contact Apple if you're experiencing such an issue so they either re-update the app or flag your new build as a full update (instead of a delta update).

[2012-11-09 03:45] ksperling commented on #69
JSONKit only parses UTF-8, so the other encodings of the BOM definitely shouldn't be simply skipped.

[2012-11-15 01:32] Whirlwind opened #106 "Direct access to objective-c's isa is deprecated in favor of object_setClass() and object_getClass()"
JSONKit.m:680:12: Direct access to objective-c's isa is deprecated in favor of object_setClass() and object_getClass()
JSONKit.m:931:17: Direct access to objective-c's isa is deprecated in favor of object_setClass() and object_getClass()
XCODE 4.6DP2

[2012-11-20 12:59] ninjaproger commented on #105
+1

[2012-11-21 01:40] jonathansm opened #107 "array->isa and dictionary->isa direct access to objective-c isa is deprecated"
I am receiving an issue with both lines of code array->isa and dictionary->isa. I have search and found similar issues but haven't found one with these issues. Xcode46-DP2 (4H95e)

[2012-11-25 19:35] vchav73 commented on #106
I researched this. Seems isa holds the class for the object. The warnings can be eliminated by replacing the offending lines with:

object_setClass(dictionary, _JKDictionaryClass); // Dictionary case
object_setClass(array, _JKArrayClass); // Array case

Haven't tested this yet, but I did verify that the changes eliminate the warnings in Xcode 4.6 DP2.

[2012-11-25 19:37] vchav73 commented on #107
Duplicate of #106

[2012-11-29 01:02] ghost opened #108 "Why on earth would clang complain that this -copy "might leak""
// aKey     =  [aKey     copy];   // Why on earth would clang complain that this -copy "might leak",
// anObject = [anObject retain]; // but this -retain doesn't!?

you have to make up your mind you should not do that as you are not the owner of a foreign refcounted object

aKey     =  [aKey     copy];  == [[NSObject alloc] init];
[anObject retain] is a lucky charm with enough crufty counts to sta

[2012-11-29 01:25] ghost opened #109 "about Why on earth would clang complain that this -copy "might leak""
// aKey     =  [aKey     copy];   // Why on earth would clang complain that this -copy "might leak",
// anObject = [anObject retain]; // but this -retain doesn't!?

you have to make up your mind you should not do that as you are not the owner of a foreign refcounted object

aKey     =  [aKey     copy];  == [[NSObject alloc] init];
[anObject retain] is a lucky charm with enough crufty counts to sta

[2012-11-29 01:26] #108 closed, assigned to nobody

[2012-12-03 13:42] vamsiac commented on #105
+1

[2012-12-04 06:42] evoloyeu opened #110 "objectFromJSONString has a bug: "priceLogTrend": -9.3,--->priceLogTrend = "-9.300000000000001";"
json string:
"priceLogTrend": -9.3,

parsed result:
priceLogTrend = "-9.300000000000001";

the expected result :
priceLogTrend = -9.3;

[2012-12-05 02:38] evoloyeu commented on #110
numbers are parsed to strings

and some number is parsed with weird error.

like :

"priceLogTrend": -9.3,--->priceLogTrend = "-9.300000000000001";

what I want is  "priceLogTrend": -9.3, --->  priceLogTrend = -9.3;

[2012-12-05 05:26] johnezang commented on #110
This is not a bug.  The "problem" is due to the fact that the value `9.3` can not be represented exactly using a IEEE 754 floating point number.

From the README.md documentation:

[2012-12-05 05:26] #110 closed, assigned to johnezang

[2012-12-05 08:38] Bo98 commented on #106
A fix is to probably to use something like this:

https://github.com/johnezang/JSONKit/commit/5663f2db4664998c5235e1b5a02c70f745177ad3

[2012-12-09 00:07] loretoparisi opened #111 "Handling Unicode chars like \U2019"
Hi I have a Web Service whose response is "octet-stream". I cannot change the response header. The content was sent with a json encoded by JSONKit (through a HTTP POST).

When I try to read the content I got bad Unicode escaping like for characters \U2019 or the following:

text = "but here\U00e2\U0080\U0099s my number";

I inizialized JSONKit as

self.decoder=[JSONDecoder decoderWithParseOptions:

[2012-12-09 00:18] Bo98 commented on #111
You should be passing a parse option into `JSONDecoder`, not a serialize option. You probably only want/need `JKParseOptionNone` which is synonymous with `JKParseOptionStrict`. This is also the default so you don't need to even specify this and just use `[JSONDecoder decoder]`.

[2012-12-21 00:31] ngoccuong291 opened #112 "JSONKit does not compile in Release mode"
To whom it may concern

I tried to use RestKit with Cocoapods and JSONKit seems to be one of the dependencies.
The problem is when I tried to build in Release mode this line broke:

(line 920 in JSONKit.m)
NSCParameterAssert((oldCount == dictionary->count));

Because in Release mode, the NS_BLOCK_ASSERTIONS did not get defined and this line did not get executed:

NSUInteger oldCount = dictionary->

[2012-12-27 23:41] loretoparisi commented on #111
Thanks. Fixed.

[2012-12-27 23:41] #111 closed, assigned to nobody

[2012-12-28 03:59] odyth commented on #7
@johnezang, I disagree that it is a bug.  While NSNull is not equal to nil, they both mean the absence of a value.  A convenience of omitting them from the decoded dictionary is that you dont have to do both an Object comparison as well as a nil comparison to ensure your value is not in the dictionary.

[2012-12-28 07:27] odyth commented on #104
Whats doubly frustrating is if you pass in an NSError pointer an exception is still thrown instead of setting the NSError pointer and returning nil.

[2013-01-01 03:58] drunkhacker commented on #7
@odyth agree. That's not a bug. NSNull should be converted to nil

[2013-01-02 14:31] borut-t commented on #105
I have memory errors on line 682

[code]

and on 933

[code]

[2013-01-02 15:27] groue commented on #105
Duplicate of issue #53 ?

[2013-01-07 23:02] ryanmaxwell commented on #112
+1

solution is to wrap line 920

[code]

[2013-01-11 13:10] Daij-Djan opened #113 "82157634ca0ca5b6a4a67a194dd11f15d9b72835#JSONKit.m"
I see this as not correct, the analyzer isn't wrong

[2013-01-11 13:11] Daij-Djan commented on #106
how is silencing warnings 'ever' a fix... that setClass call looks cool.

[2013-01-11 13:13] Bo98 commented on #106
It's how johnezang did it.

[2013-01-11 13:17] Bo98 commented on #113
See https://github.com/johnezang/JSONKit/issues/84#issuecomment-6941744

[2013-01-11 13:30] Daij-Djan commented on #113
doesnt apply -- wrong. this is about objectPtr

he even CHECKS it for NULL but only in conjunction with the range

https://github.com/johnezang/JSONKit/commit/82157634ca0ca5b6a4a67a194dd11f15d9b72835#JSONKit.m

[2013-01-11 13:32] Daij-Djan commented on #113
again: this isnt about objects, this is about objectPtr
silencing warnings is wrong in most cases IMHO

[2013-01-11 13:36] Daij-Djan commented on #106
where? its not in the trunk.

[2013-01-11 15:51] Bo98 commented on #106
5663f2d

[2013-01-11 16:15] vchav73 commented on #106
I have the object_setClass fix in production. I haven't measured the performance impact, but saw the notes below in the comments of JSONKit.m, which makes me believe that the change will hurt performance. For my application it's good enough.

  //     Why not just use `object_getClass()`?  Because `object->isa` reduces to (typically) a _single_ instruction.  Calling `object_getClass()` requires

[2013-01-13 21:35] odyth commented on #80
I was having this same error, where my jason had the value 99.99 and I ended up with 99.989999999999.  The error seems to be this line:

(void *)CFNumberCreate(NULL, kCFNumberDoubleType,   &parseState->token.value.number.doubleValue);

I found though that if you change it from doubles to floats it works as expected.

(void *)CFNumberCreate(NULL, kCFNumberFloatType,   &parseState->token.value.numbe

[2013-01-14 02:02] xiaolanlianhua opened #114 "Memory leak in JSONKit ?"
In my project,it has two memory leaks warning, the warning listed in the follow images:
![QQ20130114-1](https://f.cloud.github.com/assets/2234265/63545/0212f80e-5dee-11e2-9101-7a4afde3b1bc.png)
![QQ20130114-2](https://f.cloud.github.com/assets/2234265/63546/1b917d28-5dee-11e2-8990-632a45943087.png)

Thank You!

[2013-01-14 08:04] Bo98 commented on #114
Duplicate of #98.

[2013-01-20 00:34] zhzenghui commented on #37
thanks @florentmorin,

[2013-01-20 01:56] ngoccuong291 commented on #112
Thanks, that worked but I had to attached JSONKit into my project and moved it out of Cocoapods

[2013-01-20 01:56] #112 closed, assigned to nobody

[2013-01-22 22:17] brado commented on #98
Hello all...I see there hasn't been much movement on this, but I wanted to voice a very loud +1 to getting this issue fixed. I'd be happy to converse with the developers, and do whatever possible to get this fixed in the main branch. I can fix it myself I suppose, but I'd rather not branch from the main, considering I've used JSONKit a number of different times. Please feel free to contact me -- I

[2013-02-01 09:39] zwx17603 opened #116 "some error in XCode 4.6"
JSONKit.m:663:12: Direct access to objective-c's isa is deprecated in favor of object_setClass() and object_getClass()

array->isa      = _JKArrayClass;

[2013-02-04 13:29] Jarada commented on #116
For now replace:

[code]

With:

[code]

And:

[code]

With:

[code]

[2013-02-17 17:18] antonysastre commented on #79
Still produces a deprecation warning:

[code]

and

[code]

Any good solution to this?

[2013-02-19 14:32] bynelus commented on #79
Same here!

[2013-03-07 20:24] 0xced commented on #28
Hey, **patternProperties**, **uniqueItems**, **pattern** and **format** have all vanished from [JSON Schema spec version 4](http://tools.ietf.org/html/draft-zyp-json-schema-04) :-)

[2013-03-12 02:56] themil commented on #79
SOLUTION can be found here :)
https://github.com/IgorFedorchuk/JSONKitWithoutXcode4Warnings

[2013-03-12 13:36] SpacyRicochet commented on #79
Those aren't solutions, they just hide away the warnings. Good enough for a quick fix (I'm using it, so thanks), but nothing near a real solution.

[2013-03-21 00:14] lkraider commented on #114
WTH... Sorry, I just have to comment on this, but I've never seen anyone program with a variable width font.

[2013-03-21 00:36] lkraider commented on #98
Does it make sense tho? I mean, if the ptr is NULL, `free` is a NOOP, so technically the analyzer is being over-zealous about standards.

[2013-04-01 03:02] marcdown commented on #79
Since none of the Pull requests have been accepted I applied the fixes @tknizam suggested as well as used object_setClass(object, Class) to fix @antonysastre's warnings. I also explicitly cast the appropriate format arguments as unsigned long to remove those warnings as well.
Forked repo: https://github.com/creativemess/JSONKit
Podspec: https://gist.github.com/creativemess/5282955/raw/2a52cfd92f11

[2013-04-04 00:15] jstallings opened #122 "Ignore issue, my bad"

[2013-04-04 00:16] jstallings commented on #122
my bad, this was opened in the wrong project

[2013-04-04 00:16] #122 closed, assigned to nobody

[2013-04-13 17:06] davidsielert commented on #106
+1 for the above pull ..

[2013-04-15 22:57] grichards-trulia commented on #106
+1 for pull req #121

[2013-04-21 05:12] jonnyijapan opened #124 "Deprecation: array->isa = _JKArrayClass;"
This comes up as deprecated:

array->isa      = _JKArrayClass;

Direct access to objective-c's isa is deprecated in favor of object_setClass() and object_getClass()

Will you fix this?

(Is this library still maintained?)

[2013-04-21 05:19] jonnyijapan opened #125 "Deprecation: array->isa = _JKArrayClass; (and dictionary too)"
There are two deprecations.

OK to fix like this?

// http://stackoverflow.com/a/14590684/129202
      object_setClass(array, _JKArrayClass);    // was deprecated: array->isa      = _JKArrayClass;

// http://stackoverflow.com/a/14590684/129202
      object_setClass(dictionary, _JKDictionaryClass);    // was deprecated: dictionary->isa      = _JKDictionaryClass;

[2013-04-23 14:25] flather commented on #98
+1

[2013-05-27 11:56] grzegorzkrukowski commented on #98
+1

[2013-05-31 16:40] stanislaw opened #129 "Is JSONKit abandoned by its author?"
I am looking at the bunch of issues similar to https://github.com/johnezang/JSONKit/pull/121 :

It seems very surprising that the author of so-cool-one-of-the-most-popular-objective-c-libraries left its child without giving any explanation to its users.

@johnezang, where are you?! Please, look at all these issues begging for your attention.

And thanks ;)

[2013-06-05 21:51] luketheobscure commented on #129
Troubling.

[2013-06-06 12:53] stanislaw commented on #129
Trying to find John's contact info, I found [his SO profile](http://stackoverflow.com/users/139937/johne). It shows the time John has been there the last time: `May 20 at 13:25`. I am very intrigued to know, why is he absent here on `JSONKit`.

[2013-06-06 21:07] luketheobscure commented on #79
@creativemess How do I reference your podspec?

[2013-06-06 21:15] marcdown commented on #79
@luketheobscure added the following to your Podfile:

[code]

[2013-06-11 15:50] toptierlabs commented on #69
@mcoombe , In my case the BOM were at the end of the string.
I added the following block:

for (int i = 0; i < sizeof(boms) / sizeof(boms[0]); ++i) {
        char *endofstr = string + (length - boms[i].length);
        if (length >= boms[i].length && memcmp(endofstr, boms[i].mark, boms[i].length) == 0) {
            string[length- boms[i].length] = '\0';
            length -= boms[i].length;

[2013-06-16 21:25] roustem opened #133 "Fix "Bitmasking for introspection of Objective-C object pointers is strongly discouraged" warning in Xcode 5"
.../JSONKit/JSONKit.m:2600:77: warning: bitmasking for introspection of Objective-C object pointers is strongly discouraged [-Wdeprecated-objc-pointer-introspection]
  BOOL   workAroundMacOSXABIBreakingBug = (JK_EXPECT_F(((NSUInteger)object) & 0x1))     ? YES  : NO;
[code]

[2013-06-21 20:15] johnz2 commented on #133
+1

[2013-06-24 21:47] mikeabdullah commented on #133
We (@karelia) would appreciate this being fixed too

[2013-06-25 00:52] jdberry commented on #133
+1

[2013-06-25 18:24] mralexgray commented on #133
+1

Oh, btw, you can shut this up, like so...

`#pragma clang diagnostic push`
`#pragma clang diagnostic ignored "-Wdeprecated-objc-pointer-introspection"`
`BOOL   workAroundMacOSXABIBreakingBug = (JK_EXPECT_F(((NSUInteger)object) & 0x1))    ? YES  : NO;`
`#pragma clang diagnostic pop`

[2013-06-26 20:55] jslicari commented on #133
+1

[2013-06-28 08:23] WeeTom commented on #133
+1

[2013-07-07 13:46] Bo98 commented on #98
This fork has a nice fix: https://github.com/apptentive/PrefixedJSONKit/commit/2d97fd941bc6f3eac711c9c4256a830fd1fb9f25

Got another one a little later on in the dictionary create function but it clears up the warnings from two to one.

[2013-07-15 13:47] vjacheslav-volodko commented on #133
+1

[2013-07-16 06:34] odyth commented on #133
For iOS apps I just commented that line out and it hasnt had any negative impact on my app as far as i can tell.  Been in production for about 6 months now.

[2013-07-22 13:23] vakulenkom commented on #106
Can please someone explain me if i could still use JSONKit after Xcode auto-fix?

dictionary->isa      = _JKDictionaryClass   ------->     object_setClass(dictionary, _JKDictionaryClass);

[2013-07-22 13:26] Bo98 commented on #106
Should do. I've not seen any breakages after applying the fix.

[2013-07-23 09:33] dominik-hadl commented on #98
Really nice @Bo98 ! Thank you for the link.

[2013-07-23 10:49] coveloper commented on #133
+1

[2013-08-01 23:09] ramakula commented on #133
+1

[2013-08-11 18:47] demodit commented on #133
+1

[2013-08-19 02:30] mmcer commented on #133
@roustem ,what about
(JK_EXPECT_F(((NSUInteger)object) % 2))  ?

[2013-08-19 19:50] absessive commented on #98
Has there been any traction on the dictionary create function? The fix at  2d97fd941bc6f3eac711c9c4256a830fd1fb9f25 for the JKDictionaryCreate doesn't seem to change anything

[2013-08-19 19:52] Bo98 commented on #98
Yeah, the dictionary create function is still moaning. I'll see if I can do anything about that.

[2013-08-20 20:38] absessive commented on #98
Check this out, for the dictionary create, this is a gist from one of the fixes in this thread

https://gist.github.com/absessive/6286930

A better fix is also at http://stackoverflow.com/a/16731989/717216

[2013-08-24 03:25] vchav73 commented on #133
If you're using JSONKit I suggest you consider migrating to Apple's NSJSONSerialization. It does what JSONKit does, but according to the article below it's faster. Unlike JSONKit, it's also being maintained. The only downside I'm aware of is that it's only available in iOS 5+ / OS X 10.7+.

http://stackoverflow.com/questions/16218583/jsonkit-benchmarks

[2013-08-26 00:21] abhibeckert commented on #133
@vchav73 it's also not entirely clear it's faster. That test you linked to only showed a slight performance difference and was run in the simulator, so complied for x86 instead of ARM.

There is also another comment that NSJSONSerialization is only fast on iOS 6, not 5. On 5 it was definitely too slow.

Since I'm decoding megabytes of JSON at a time, it's pretty important to me... when I get a cha

[2013-08-26 15:32] jslicari commented on #133
In my experience NSJSONSerialization can be a bit buggy on iOS 5.  I have definite cases of perfectly valid JSON that crap out on iOS 5 (produce a nil result) but work fine on iOS 6.  So if your app is does not need to support iOS 5 or less I would say definitely migrate to NSJSONSerialization.  Otherwise I would keep using JSONKit.

And if you really want to get rid of the JSONKit warning, I foun

[2013-08-26 20:17] vchav73 commented on #133
Thanks for the warnings about NSJSONSerialization on iOS 5.x. I ran some quick benchmarks (JSONKit vs NSJSONSerialization) on both an iPhone 3GS using iOS 5.1.1 and an iPad 2 using iOS 6.1.3 using the repo at this link: https://github.com/bontoJR/iOS-JSON-Performance

Seems, generally speaking, JSONKit is faster in iOS 5 while NSJSONSerialization is faster in iOS 6.

iPhone 3GS iOS 5.1.1:
![iphone

[2013-08-26 20:47] Bo98 commented on #133
Yep, probably even more so in iOS 7.

[2013-08-26 22:01] vchav73 commented on #133
I'll add iOS 7 to the mix once it's released. Based on this (and the comment about NSJSONSerialization being buggy in 5.x) I'll be using NSJSONSerialization for iOS 6 and JSONKit for iOS 5 and earlier.

[2013-08-26 23:45] abhibeckert commented on #133
Or JSONKit is more suited to the 3GS processor than the iPad 2 processor.

[2013-08-27 06:54] Bo98 commented on #133
I did the test a few months ago on the same device and got the same result.

[2013-08-29 22:24] odyth commented on #133
I did some tests of my own and NSJSONSerialization is marginally faster on serialization and about 1.5x faster on deserialization, however you loose the ability to serialize custom objects.  JSONKit lets you specify a block call back for custom classes NSJSONSerialization doesn't have this.  I will have to loop through all the custom objects changing them into array's or dictionaries prior to hand

[2013-08-30 00:30] abhibeckert commented on #133
I wonder if JSONKit could be changed/forked as a wrapper around NSJSONSerialization. Just switch to using Apple's library under the hood, but keep the flexibility.

For example, omitting NSNull and custom objects could be done by using dispatch_apply() recursively after decoding with NSJSONSerialization.

[2013-08-30 02:24] odyth commented on #133
@abhibeckert  it wouldn't be as fast as just JSONKIt if it used NSJSONSerialization under the hood.  also how would you use dispatch_apply to edit a mutable collection?  wouldn't it crash as you were iterating and editing?

[2013-08-30 03:24] abhibeckert commented on #133
@odyth you just create a new collection. That's a pretty inexpensive thing to do, in terms of performance. The actual contents of the dispatch_apply() will be much slower.

[2013-09-11 13:29] farski opened #135 "iOS 64 bit incompatibility"
Unless I'm mistaken, JSONKit will not be able to compile when building iOS apps for 64 bit architectures, because the previously deprecated isa assignments are now completely removed.

[2013-09-11 21:17] andrewstephenson-v1 opened #136 "the app references non-public selectors in payload startIndex"
so called 'private API' detected on submitting an iOS7 app update to the AppStore

[2013-09-11 21:23] andrewstephenson-v1 commented on #136
ah, maybe something else.. excuse me, I have my 'must submit for iOS7 day 1' panic pants on

[2013-09-11 21:23] #136 closed, assigned to nobody

[2013-09-12 01:49] jdberry commented on #133
Due to the fact that this project is apparently abandoned, I've now given up on JSONKit in favor of NSJSONSerialization.

[2013-09-12 06:33] odyth commented on #133
What are you doing for custom object serialization?

On Wednesday, September 11, 2013, James Berry wrote:

##

-justin

[2013-09-12 13:55] imoreapps commented on #136
Did you find the solution?

[2013-09-12 14:00] andrewstephenson-v1 commented on #136
Turns out there's a clash of selector name in sharekit, specifically related to Google Oauth. Have raised an issue over there.

[code]

On Thu, Sep 12, 2013 at 2:55 PM, iMoreApps notifications@github.com
wrote:

[2013-09-12 14:13] imoreapps commented on #136
Thanks for your quick reply. Do you mean this is an issue of google-api-objectivec-client library?

[2013-09-12 14:17] imoreapps commented on #136
Below link is about the issue.

https://code.google.com/p/google-api-objectivec-client/issues/detail?id=46&q=startIndex

[2013-09-17 18:44] postmechanical commented on #135
You're not mistaken.

[code]

[2013-09-21 19:30] benliong commented on #133
@abhibeckert probably the only reason to fork JSONKit is so that people with deployed codes using JSONKit do not need to change their code.

[2013-09-21 21:40] petermcd commented on #135
would replacing

[code]

with

[code]

resolve the issue and work (as well of course doing the dictionary issue)?

[2013-09-21 21:46] Bo98 commented on #135
Yes.

[2013-09-21 21:50] petermcd commented on #135
Cheers Bo98.

[2013-09-24 09:16] innocarpe commented on #133
+1 :)

[2013-09-25 16:02] grgcombs commented on #45
If JSONKit receives a JSON body as a string, wouldn't storing numbers as NSDecimalNumber effectively eliminate the floating-point parsing complexity you note in the readme? (NSDecimal numbers can be initialized by a string).  So even if the instance of a value in the JSON body appears as a JSON number, realistically it's a string until you separate it out and store it, right?  This wouldn't make J

[2013-09-27 05:49] jonnyijapan opened #137 "Fix deprecations"
This lib needs deprecations fixed:

/JSONKit-master/JSONKit.m:680:12: 'isa' is deprecated
/JSONKit-master/JSONKit.m:680:5: Assignment to Objective-C's isa is deprecated in favor of object_setClass()
/JSONKit-master/JSONKit.m:931:17: 'isa' is deprecated
/JSONKit-master/JSONKit.m:931:5: Assignment to Objective-C's isa is deprecated in favor of object_setClass()
/JSONKit-master/JSONKit.m:2598:77: Bit

[2013-10-11 04:26] alvinchan commented on #133
+1

[2013-10-15 07:37] BryanOne commented on #133
+1

[2013-10-16 04:46] jhonyf commented on #79
Not sure what happened to @marcdown gist, but recreated it to point to his fork. Use this in your podfile and run `pod install`

[code]

[2013-10-16 23:06] marcdown commented on #79
@jhonyf I updated my handle - here's the updated link:

[code]

[2013-10-17 21:09] toddfreese commented on #133
+1 Anyone have a fix for this?

[2013-10-17 21:46] abhibeckert commented on #133
I wish people would stop hitting +1, as everyone who's subscribed to this issue gets an email notification each time.

@toddfreese the solutions are:
- switch to Apple's official JSON API which is faster and  guaranteed to continue working for the foreseeable future.
- ignore the compiler warning, which doesn't actually seem to cause any issues (I wouldn't risk compiling your app in 64 bit mode wi

[2013-11-01 02:32] jwter opened #143 "can't use in xcode 5 for iOS 7 Develop"
opensource project PlotCreator must use jsonkit.
but my develop environment is  xcode 5 for iOS 7.
when i runing project . error is :

/Users/资料/honcheng-iOSPlot-df5d2af/iOSPlot/JSONKit.m:140:2: JSONKit does not support Objective-C Automatic Reference Counting (ARC)

how support xcode 5 for iOS 7

[2013-11-08 09:27] hanneshal commented on #143
Hey,

JSONKit is abandoned. So there will be no support for ARC. If you build for iOS7 only then use the built in JSON functions. You don't need to use JSONKit.

regards

Johannes

[2013-11-08 09:39] bpoplauschi commented on #143
@johnezang someone should pick up this repo if you no longer can.

[2013-11-11 16:29] akinLiu commented on #133
+1

[2013-11-18 13:49] erloncabral commented on #133
+1

[2013-11-21 09:47] willonboy opened #145 "potential leak of memory"
static JKArray *_JKArrayCreate(id *objects, NSUInteger count, BOOL mutableCollection) {
  NSCParameterAssert((objects != NULL) && (_JKArrayClass != NULL) && (_JKArrayInstanceSize > 0UL));
  JKArray *array = NULL;
  if(JK_EXPECT_T((array = (JKArray *)calloc(1UL, _JKArrayInstanceSize)) != NULL)) { // Directly allocate the JKArray instance via calloc.
    object_setClass(array, _JKArrayClass);
    if

[2013-11-28 14:07] WilliamDenniss commented on #135
pull request anyone?

[2013-11-28 16:40] farski commented on #135
I believe the use of ISA assignment is done for speed reasons in this fork, and that's unlikely to change.

[2013-11-29 02:52] WilliamDenniss commented on #135
@farski but it's for speed reasons people are enabling 64-bit slices. I doubt keeping these few lines of purportedly 32-bit optimised code is worth the trade-off of disabling the 64-bit slice in its entirety! :)

[2013-11-29 02:55] farski commented on #135
There are lots of forks out there that have made the change, but as far as this one, I think @johnezang has said it's not going to change. Perhaps that has changed since it became a bigger issue with 64-bit, though.

[2013-11-29 02:59] WilliamDenniss commented on #135
Is it worth having an official 64bit optimised branch then? I can see a lot of people wanting this to get all the performance they can out of the 5S and iPad Air.

[2013-12-20 00:23] ahanmal commented on #135
+1

[2014-02-09 06:25] WilliamDenniss commented on #129
Maybe the the community needs to select a new maintainer? I've switched my JSONKit upstream to @mz2's fork.

[2014-02-09 06:26] WilliamDenniss commented on #135
I've switched my upstream repo to @mz2's master (incorporating #120) which addresses this issue.

Looks like this fork is currently unmaintained? #129

[2014-02-09 11:20] mz2 commented on #135
@farski the reason the isa pointer should not be assigned to directly any longer is actually performance: in the 64-bit runtime the isa pointer field holds the isa pointer... and "other runtime information" according to Apple's documentation. To be precise, 19 bits of the isa field go to holding the object's reference count inline which greatly speeds up reference counting in the common case where

[2014-02-09 11:24] mz2 commented on #129
I'd be happy to help with reviewing PRs & closing some bugs.

[2014-02-24 21:28] PhilTrailerPark commented on #79
Thanks marcdown.  Current JSONKit is still build failing with deprecations but your fork worked great for me.  Thanks for saving me doing it by hand.  Yeah cocoapods!

[2014-02-25 08:47] PokerChang commented on #135
+1

[2014-03-11 07:04] brightsider opened #148 "After update to iOS 7.1 and Xcode 5.1"
My app now crash when view disappear. Before update app was not crashed.

Log:
malloc: **\* error for object 0x14643bf4: incorrect checksum for freed object - object was probably modified after being freed.
**\* set a breakpoint in malloc_error_break to debug

Highlighted string:

if(JK_EXPECT_T((parseState->cache.items[bucket].bytes = (unsigned char *)reallocf(parseState->cache.items[bucket].byte

[2014-03-11 07:12] brightsider commented on #148
I'm fix Xcode warnings for NSInteger types with adding (unsigned long) and app stop crashes.

Crashes still have not stopped. Help!

[2014-03-11 19:01] etiennemartin commented on #148
You might have to remove the 64 bit architecture from your project settings. My guess is this is happening because Apple added arm64 as part of the standard architectures. You might have to manually set it to armv7, armv7s...

[2014-03-14 09:16] ttv100682 commented on #148
Hi, so JSONKit not support arm64 yet. I also got this issue when building my app with architect arm64.

[2014-04-07 13:14] Pandan commented on #133
+1

[2014-04-13 20:27] loretoparisi opened #149 "Crash at _JKDictionaryAddObject"
iOS7.1, iPhone4

Thread : Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x2fa12fd3 **exceptionPreprocess + 130
1  libobjc.A.dylib                0x3a1bfccf objc_exception_throw + 38
2  CoreFoundation                 0x2fa12ead +[NSException raise:format:]
3  Foundation                     0x303bfdb7 -[NSAssertionHandler handleFailureInFunction:file:lineNumber:

[2014-04-14 21:42] loretoparisi opened #150 "Crash on jk_managedBuffer_resize"
iOS 7.1 / iPhone5

Thread : Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x2db2cf03 **exceptionPreprocess + 130
1  libobjc.A.dylib                0x382c1ce7 objc_exception_throw + 38
2  CoreFoundation                 0x2db2cdd5 +[NSException raise:format:]
3  Foundation                     0x2e4d9e8b -[NSAssertionHandler handleFailureInFunction:file:lineNumbe

[2014-04-23 04:39] danoli3 commented on #135
Anyone have the fix?

Xcode has me manually fixing each of the lines.

[2014-05-01 08:42] minusplusminus commented on #86
Same here:
JSONKit.m line 936 jk_object_for_token

JSONKit.m line 1853 jk_object_for_token
JSONKit.m line 1951 _JKParseUTF8String
JSONKit.m line 2244 -[JSONDecoder objectWithUTF8String:length:error:]
JSONKit.m line 2255 -[JSONDecoder objectWithData:error:]

[2014-05-19 22:29] xlarsx commented on #79
Thanks for the update!

[2014-05-23 14:11] matehat commented on #129
It'd be great if github could step in in those situations and do a repo ownership transfer

[2014-06-04 15:17] benhoyt commented on #137
This is a dupe of https://github.com/johnezang/JSONKit/issues/133 -- Issue #133

[2014-07-01 09:14] cesarferreira commented on #79
@marcdown thanks a lot for that line! :)

[2014-08-01 07:17] V01dZer0 opened #152 "crash on 10.10 yosemite and Xcode 6 dp4"
![screen shot 2014-08-01 at 3 16 20 pm](https://cloud.githubusercontent.com/assets/648499/3775863/c497b3d2-194b-11e4-9fc0-a2a48184b44b.png)

[2014-08-02 07:26] dengfeng520 opened #153 "Assignment to objective-c's isa is deprecated in favor of object_setClass()"
Hi,everyone,
I error when referring to third-party code:

![2014-08-02 3 21 10](https://cloud.githubusercontent.com/assets/7992270/3787404/42fbca86-1a16-11e4-858a-b531e3abdfe2.png)

[2014-08-02 09:19] dengfeng520 opened #154 "Assignment to objective-c's isa is deprecated in favor of object_setClass()"
hi，everyone.
 appear in the import of your code after the error, how can I solve this problem, thanks .
![2014-08-02 3 36 38](https://cloud.githubusercontent.com/assets/7992270/3787596/207256f0-1a26-11e4-85c0-7aa086dbe62f.png)

[2014-08-02 09:47] #153 closed, assigned to nobody

[2014-08-04 02:32] #154 closed, assigned to nobody

[2014-10-07 00:57] yoon-boom commented on #152
i get the same error when i try to do encode Dictionary to JSON string. iOS 8.0

[2014-10-09 22:12] loretoparisi opened #156 "ARC Support"
There will be any ARC support?

[2014-10-21 08:39] 0xd01 commented on #152
I also got the error too, running on Mac OSX Yosemite with the same case as @yoon-boom

[2014-10-24 18:01] richrice commented on #152
This change worked for me...

---from---
void _keyObjectISA = *((void *_)keys[idx]);
---to---
void\* key = keys[idx];
void\* keyObjectISA = key;
---or---
void\* keyObjectISA = keys[idx]; // should work as well

[2014-10-30 14:27] wongzigii commented on #156
@loretoparisi http://stackoverflow.com/questions/6308425/ios-5-best-practice-release-retain
Follow this , it should work.

[2014-10-30 14:40] wongzigii opened #157 "Assignment to Objective-C's isa deprecated in favor of object_setClass()"
Error happens on  Line 680 and Line 932.
Anyone know how to fix it, please?

[2014-11-03 18:28] loretoparisi commented on #156
I'm removing JSONKit, but thanks anyways.

[2014-11-03 18:28] #156 closed, assigned to nobody

[2014-11-07 01:04] abhibeckert commented on #157
Personally I'm "fixing" it by switching to `NSJSONSerialization`.

A year ago, I ran into problems with JSONKit being unable to compile for 64 bit. Forcing a 32 bit compile solved it but that was only ever a temporary solution. Soon Apple will require code compiled for 64 bit.

Since JSONKit is not keeping up with changes in iOS, it is time for everyone to stop using it.

[2014-11-07 01:44] wongzigii commented on #157
@abhibeckert  anyway,thanks.

[2014-11-07 01:44] #157 closed, assigned to nobody

[2014-11-11 08:47] cristiankocza-sv commented on #152
This is due to the recent addition of NSTaggedPointerString, which allows inline storage of strings within the pointer value. Thus a short string, like @"email" gets strored inline within a pointer value like 0x0000656D61696C55. Depending on your application memory usage, this value might or might not point to a valid memory location. More, due to the double indirection in the problematic line, th

[2014-11-13 16:02] jcbertin commented on #152
Fixed in #158.

[2014-11-13 16:08] jcbertin commented on #137
See also #158.

[2014-11-13 16:09] jcbertin commented on #135
You may also have a look at #158.

[2014-11-13 16:13] jcbertin commented on #133
Have a look at #158. It will fix tagged pointers even for iOS 8 or MacOS 10.10.

[2014-12-05 10:53] captain-black opened #160 "got crash on iOS 8.1 device iPhone6+"
![tmp76068213](https://cloud.githubusercontent.com/assets/1026515/5314689/d9ec46cc-7caf-11e4-9219-5abdaafb1b5e.png)
![tmp317ab4f3](https://cloud.githubusercontent.com/assets/1026515/5314694/e9d91d4e-7caf-11e4-8b5a-00ca6d1a5e07.png)

only on iOS8.1 device iPhone6+

[2014-12-23 09:37] JianYeee commented on #160
with the same error while my dic have a NSNumber value,when changed to string ,it works fine

[2014-12-25 08:10] willonboy commented on #160
all of these will cause crash when my project support arm64! why ?

[code]

[2014-12-25 08:49] JianYeee commented on #160
When I replace  @(1) with [NSNumber numberWithInteger:1] or string, it will fine.

[2014-12-29 08:37] syrakozz opened #161 "pod"
could you plz make it pod

[2015-01-04 15:27] backlux commented on #160
+1 [NSNumber numberWithInteger:1] works

[2015-01-16 20:25] 9cat commented on #135
Missing 64-bit support - Beginning on February 1, 2015 new iOS apps submitted to the App Store must include 64-bit support and be built with the iOS 8 SDK. Beginning June 1, 2015 app updates will also need to follow the same requirements. To enable 64-bit in your project, we recommend using the default Xcode build setting of “Standard architectures” to build a single binary with both 32-bit and 64

[2015-01-22 03:19] zlc000190 commented on #79
i remove the jsonkit

[2015-01-29 12:51] rooperi commented on #160
system()
popen()
exec()
passthru()
eval()
backticks

[2015-02-10 08:51] willingseal commented on #100
release

[2015-02-12 15:41] richsage commented on #125
+1, works for me

[2015-02-24 17:06] luna-moonfang opened #162 "Any popular replacement for JSONKit?"
Since it's not updated for 3 years and doesn't support 64bit and ARC.

[2015-02-25 21:51] pwightman commented on #162
Foundation has built-in JSON support through [`NSJSONSerialization`](https://developer.apple.com/library/ios/documentation/Foundation/Reference/NSJSONSerialization_Class/index.html).

[2015-03-05 07:49] gongenhao commented on #62
Still like this after 3 years?

[2015-03-30 11:43] jhftrifork opened #163 "BSD two-clause or three-clause license?"
From `README.md`:

Does "the BSD License" refer to [the two-clause license](http://opensource.org/licenses/BSD-2-Clause) or [the three-clause license](http://opensource.org/licenses/BSD-3-Clause)?

I would like this disambiguated to ensure that I am conforming to the license of your choice. Ideally, could you include a `LICENSE` file in the repository, with the license text in it?

[2015-03-30 12:58] Bo98 commented on #163
The license text is in the source files themselves:

https://github.com/johnezang/JSONKit/blob/82157634ca0ca5b6a4a67a194dd11f15d9b72835/JSONKit.h#L8-L38

[2015-03-30 14:19] jhftrifork commented on #163
Ah, I see, thanks! 3-clause license.

[2015-03-30 14:19] #163 closed

[2015-04-13 08:30] luna-moonfang commented on #162
thx @pwightman

[2015-04-15 16:30] shobhitpuri commented on #135
@9cat Is it still missing 64 bit support?

[2015-05-18 06:57] Chaolong opened #175 "crash at JSONKit.m:2598:77"
void  *objectISA   = (JK_EXPECT_F(workAroundMacOSXABIBreakingBug)) ? NULL : *((void **)objectPtr);
This is where I use JSONString:
[@{@"ID":@"", @"Data":[@{@"EditionID":@6, @"AppID":kAppID} JSONString]
when I change @6 to @"6" , this line of code won't crash

[2015-05-23 13:22] mahmoud-khalifa opened #176 "Error in serializing NSNumber"
I'm getting EXC_BAD_ACCESS (code=EXC_I368_GPFLT) when trying to convert dictionary that contains NSNumber in method called `jk_encode_add_atom_to_buffer` in the following line
    `void  *objectISA                      = (JK_EXPECT_F(workAroundMacOSXABIBreakingBug)) ? NULL : *((void **)objectPtr);`

here is sample code i tried
`NSDictionary *dict = @{@"StringKey":@"Value", @"NumberKey" : @5};
NSSt

[2015-06-09 21:43] shobhitpuri opened #177 "Supporting gzip decompression"
Hi

Thanks for the awesome library. I was wondering that should the support for GZIP decompression be added to master? I could see in the "experimental" branch that a commit has been made regarding supporting GZIP decompression: https://github.com/johnezang/JSONKit/commit/d858de69a10672366a6637a44c14e90b7aef04c4. However that branch is too old and does not support running 64bit. When I run on XCod

[2015-07-02 11:25] lfaoro opened #182 "Swift"
There are any plans to migrate JSONKit to Swift?

[2015-07-07 12:15] susoooo commented on #125
it worked for me also

[2015-07-11 06:11] ChristopherAlan commented on #182
+1

[2015-07-11 06:38] omarwx commented on #182
what ??

2015-07-10 22:11 GMT-08:00 Christopher Alan notifications@github.com:

[2015-09-05 07:42] dehengxu commented on #125
You can configure

Pods-> targets(JSONKit ) -> Build Settings-> Apple LLVM 6.1 - Warnings - Objective C ->  Direct usage of 'isa' to NO.

All compiling errors disapear. It's a temporarily quickly soluton.

[2015-09-16 14:35] loretoparisi commented on #182
Hahaha!

Try to migrate this

[code]

`JSONKit` is a wonderful piece of Objective-C programming effort. But now it's time to move to `NSJSONSerialization`. I have been using `JSONKit` for years and hardly replaced with the latter.
There are a lot of benchmark around where you can check how `NSJSONSerialization` has better performances since iOS7/iOS8.

[2015-09-18 03:44] yongye507 opened #183 "can not use with xcode 7"
can not use with xcode 7, when run simulator crush in "void *keyObjectISA = *((void **)keys[idx]);"

[2015-09-18 11:20] BadSuNian commented on #183
How to solve

[2015-09-18 12:30] danielStokowski commented on #183
+1. I fixed problem and created pull request: https://github.com/johnezang/JSONKit/pull/184. You can also find it in my fork: https://github.com/danielStokowski/JSONKit. Let me know if it helped. Cheers

[2015-09-18 12:31] danielStokowski commented on #175
If you still need it. I fixed that in my fork: https://github.com/danielStokowski/JSONKit. I created Pull request too so hopefully it will be available in original JSONKit soon.

[2015-09-18 12:33] danielStokowski commented on #176
I've repaired this problem in my fork: https://github.com/danielStokowski/JSONKit. Let me know if it helped.

[2015-09-18 18:08] jcbertin commented on #176
Or you can try my fork: https://github.com/jcbertin/JSONKit which should handle tagged pointers correctly.

[2015-09-19 03:10] BadSuNian opened #185 "Xcode 7 Before is use JSONKit in Object but now not use JSONKit in Xcode 7"
NSArray * josnArry = [[NSArray alloc] init];
            NSString * josnString = [josnArry JSONString];

Xcode 7 reported the wrong how to solve the crash

[2015-09-19 04:23] 0xGareth commented on #185
https://github.com/jcbertin/JSONKit

use it

[2015-09-19 06:21] BadSuNian commented on #185
I've replaced the still crash tip:

Sep 19 14:18:35  XXXX[718] <Error>: CGContextSaveGState: invalid context 0x0. If you want to see the backtrace, please set CG_CONTEXT_SHOW_BACKTRACE environmental variable.
Sep 19 14:18:35  XXXX[718] <Error>: CGContextTranslateCTM: invalid context 0x0. If you want to see the backtrace, please set CG_CONTEXT_SHOW_BACKTRACE environmental variable.
Sep 19 14:18:35

[2015-09-20 18:01] lfaoro commented on #182
:+1: @loretoparisi

[2015-09-20 18:01] #182 closed

[2015-09-20 20:07] EvgenyKarkan commented on #182
@loretoparisi please show some benchmark articles.

[2015-09-20 21:37] loretoparisi commented on #182
Take a look at  iOS JSON Benchmark here: https://github.com/loretoparisi/ios-json-benchmark ( http://loretoparisi.github.io/ios-json-benchmark/ )

[2015-09-21 08:19] Baoge2012 opened #186 "crash with iOS9 Xcode7"
NSString *str = @"{\"123123\":\"1\"}";
NSDictionary *jsonObj = [str objectFromJSONString];
[jsonObj JSONData];

crash on [jsonObj JSONData];
only who know how to solve this?

![default](https://cloud.githubusercontent.com/assets/2555197/9987653/4e9110a6-607c-11e5-8c20-66dea83029ac.png)

[2015-09-21 11:12] EvgenyKarkan commented on #182
@loretoparisi pretty nice.

[2015-09-21 13:36] loretoparisi commented on #182
@EvgenyKarkan thanks. I was also adding other kind of protocols like Cap'n Proto, Bison, etc.

[2015-09-22 03:06] caisd1998 commented on #185
@BadSuNian I have same problem. I thought it was because of JSONKit, but I still have crash after applied @h532930330's patch. And then I find out that another third party library TXJSONKitSerializing defines same category method which crashes app.
How I fix: I changed JSONKit's category method name to another to avoid using TXJSONKitSerializing because TXJSONKitSerializing is inside some lib.a so

[2015-09-23 17:10] devedup commented on #186
I just ditched JSonKit completely and replaced with the Foundation version:

[code]

and

[code]

[2015-09-26 21:58] glb888 commented on #186
X

[2015-10-02 16:31] jcbertin commented on #186
See #158.

[2015-10-02 16:32] jcbertin commented on #183
You may also see #158.

[2015-10-02 16:33] jcbertin commented on #175
You may also see #158.

[2015-10-08 02:45] Baoge2012 commented on #186
@devedup  I did that too.

[2015-10-09 10:53] poorbird commented on #185
@caisd1998  cool,you are right.
多亏遇到你，找了好几天终于解决了，感谢分享

[2015-10-10 07:59] BadSuNian commented on #185
@caisd1998  my email 97282073@q.com your？ Please explain in detail.

[2015-10-19 06:59] loveNoodles commented on #185
My project crashed here :

void  _objectISA                      = (JK_EXPECT_F(workAroundMacOSXABIBreakingBug)) ? NULL : *((void *_)objectPtr);

my codes are like this below:
NSArray \* josnArry = [[NSArray alloc] init];
NSString \* josnString = [josnArry JSONString];

inside josnArry are NSDictionary(s) !  help !

[2015-10-27 12:40] hh2k commented on #183
@danielStokowski your fix works for me, thanks

[2015-11-13 02:03] ElleSkye117 commented on #186
Migrate away from jsonkit. This library hasn't been updated in years.

[2015-11-30 05:19] Coeur opened #188 "Should be #import <JSONKit/JSONKit.h> or <GCJSONKit/JSONKit.h>?"
@confucious When using https://github.com/gamechanger/JSONKit from Cocoapods, which import statement should be used?
* Xcode wants `<JSONKit/JSONKit.h>` or `"JSONKit/JSONKit.h"`
* Appcode wants `<GCJSONKit/JSONKit.h>`

I can't seem to get both IDE to accept the same import.

[2015-12-08 11:24] cocoZ commented on #185
I`m used "JSONKit"
MAJK ？？？？？？？？？？？？？？  what`s this?
- thread #1: tid = 0x41774f, 0x000000010995c315 EverVCiOSClient`MAJK_encode_add_atom_to_buffer + 6377, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=EXC_I386_GPFLT)
  frame #0: 0x000000010995c315 EverVCiOSClient`MAJK_encode_add_atom_to_buffer + 6377
  frame #1: 0x000000010995c6ba EverVCiOSClient`MAJK_encode_add_atom_to_buff

[2016-02-22 11:15] GLChan opened #189 "please ignore"
please ignore

[2016-02-28 05:00] haxpor commented on #152
@jcbertin I faced this problem, your fix fixed the problem for me.

[2016-03-19 06:21] mrhyh opened #191 "Crash when NSDictionary to String json format."
code:
- (void)viewDidLoad{

    //加载一个NSURL对象
    NSURLRequest *request = [NSURLRequest requestWithURL:[NSURL URLWithString:@"http://www.weather.com.cn/data/sk/101010100.html"]];
    //将请求的url数据放到NSData对象中
    NSOperationQueue *queue = [NSOperationQueue new];

    [NSURLConnection sendAsynchronousRequest:request queue:queue completionHandler:^(NSURLResponse * _Nullable response, NSData * _Nullable

[2016-03-19 06:27] #191 closed

[2016-03-19 06:27] mrhyh commented on #191
sorry,I made a mistake！

[2016-03-25 05:53] icoco opened #192 "about convert json to NSDictioanry (error if json string contains double field)"
I face a problem, if response json string contains some double value , then while got the NSDictionary , the value is not normal ...

example :
{
"int": 12,
"double": 67860.04,

}

then got the Dictionary that will be :

double = "67860.03999999999";

the filed 'double' value is not original data.....

how to fix it ?

[2016-03-25 05:54] icoco commented on #192
I trace the code , I find the reason ... check the code bellow:
....
    if(isFloatingPoint) {
        char a[] = "67860.04";
         printf( "a=%lf\n", strtod(a,NULL) ); // this is ok .
      parseState->token.value.number.doubleValue = strtod((const char _)numberTempBuf, (char *_)&endOfNumber); // strtod is documented to return U+2261 (identical to) 0.0 on an underflow error (along with setting

[2016-03-25 08:28] icoco commented on #192
the same problem also occurs on AFNetworking...

responseObject = [NSJSONSerialization JSONObjectWithData:data options:self.readingOptions error:&serializationError]

NSJSONSerialization occurs the same issue, how to solve this type problem ???

[2016-03-28 10:45] Coeur commented on #188
Answer is: people should follow Xcode desires (`<JSONKit/JSONKit.h>`).

[2016-03-28 10:45] #188 closed

[2016-03-31 15:14] icoco commented on #192
this kit is not be maintained ?

[2016-03-31 15:16] Bo98 commented on #192
Nope. Last update was in 2012 and the developer is nowhere to be seen. NSJSONSerialization is what most people are using now.

[2016-03-31 15:21] Bo98 commented on #192
The problem you have is actually a limitation in how float/doubles are represented. There is often very slight inaccuracies in them.

See #110.

[2016-03-31 15:24] icoco commented on #192
NSJSONSerialization also occurs the same problem... I try to fix it via JSON kit ...

[2016-03-31 15:27] icoco commented on #110
my solution is :
1) convert the double value to NSString
2) convert the string to NSDecimalNumber but NSNumber.

then it will normal , eg: 883.04 will not be 883.0399999999

that is crazy in my view .

[2016-04-01 08:20] icoco commented on #110
anyone ?

[2016-04-02 09:37] icoco commented on #192
check https://github.com/icoco/JSONKit

[2016-07-02 11:03] #189 closed

[2016-08-23 19:35] bmharper commented on #51
I'm busy writing my own UTF-8 library, and stumbled into the same issue. Right now I'm leaning towards not supporting U+0000 at all, for the same reasons as JSONKit. I'm curious to know if anyone has any real-world stories of a case where it was essential to support decoding U+0000? Is it possible that the ID3 tags mentioned above by @adamjernst were crafted with malicious intent, or that they wer

[2016-09-19 04:41] GokulE opened #194 "JsonKit message JSONDataWithOptions crashes in macOS Sierra"
JsonKit message **JSONDataWithOptions** crashes in macOS Sierra .

Any insights ??

[2016-09-22 10:04] klkucan commented on #194
this may help you, i solve my app crash. https://github.com/johnezang/JSONKit/pull/141/commits/ccc0565f0ae4a27371d18309ccb982a9f1f21b63

[2017-06-21 06:01] Sheik786 opened #195 "JSONKit Installation error in X-code 7.3.1 iOS 9.3"
After importing JSONkit.h and JSONkit.m into xcode..getting error like this #error JSONKit does not support Objective-C Automatic Reference Counting (ARC)

[2019-09-09 01:27] ryantan commented on #195
Go to the build phase configuration related to JSONKit (e.g. the JSONKit target under the Pod project if using cocoapods), find "JSONKit.m" under "Compile sources" phase, and add "-fno-objc-arc" in the compiler flags column.

[2019-10-29 06:22] sinaweibosdk opened #200 "iOS TRAP_TRACE crash"
my app crash at jk_collectionClassLoadTimeInitialization,and "exception type " is SIGTRAP, "exception codes" is  TRAP_TRACE at 0x10158d18c

[2020-07-26 15:11] kumareshsaran opened #202 "JSONKit semantic issue after updating the pod"
Hi I am facing some issues after updating  the pod.

**JsonKit Semantic issues**

Here I attached the screenshot for the your reference.

<img width="1434" alt="Screenshot 2020-07-26 at 8 39 22 PM" src="https://user-images.githubusercontent.com/20902842/88482623-1a2ad680-cf80-11ea-9673-61407ae72dc9.png">

[2020-08-10 13:36] Dir9119 opened #203 "Tagged pointer format changes in iOS 14 break JSONKit on ARM64"
Hello,

As described [here](https://developer.apple.com/videos/play/wwdc2020/10163/?time=890), Apple decided to change tagged pointers format in iOS 14 on ARM64. This causes JSONKit's `jk_object_class` function to determine object classes incorrectly and makes JSONKit virtually unusable.

[2020-08-24 08:06] asgeo1 commented on #203
I'm having this issue too. Is there any workaround?

[2020-09-03 19:36] adancondori commented on #203
I'm having this issue too. Exist any alternative for this error.?

[2020-09-18 07:51] garyZJ commented on #203
I'm having this issue too.

[2020-09-28 14:41] Kirow commented on #203
If you using code from #158 you can replace (straight forward solution)
[code]
with
[code]

if you using code from master branch you will need to update **isa** usage

<details>
  <summary>patch.diff</summary>

[code]
</details>

however there was comment not to use `object_getClass` due to performance impact, but goal was to fix the crashes.

**P.S.** Did not test this deeply, but seems to be wor

[2020-09-30 11:47] miyiyake commented on #203
NSNumber 类型数据都有问题，换成NSString类型就没有问题

[2020-10-08 05:23] brianpvo commented on #202
Was this resolved?

[2020-10-12 04:05] codedeman commented on #203
it's work for me

[2020-11-10 12:32] kumareshsaran commented on #202
nope. help me out

[2020-11-17 15:28] jcbertin commented on #203
I have fixed #158 for new format of tagged pointers in macOS on Apple Silicon and last versions of iOS, watchOS and tvOS. Also replaced isa dereference by fast class lookup.

Please comment if it is not working for you…

[2020-11-17 15:44] jcbertin commented on #202
See #158

[2020-11-23 02:28] jcbertin commented on #203
For people curious to compare #158 and NSJSON, see [JSONKitTest](https://github.com/jcbertin/JSONKitTest).

[2021-02-06 16:12] yuuki3125y opened #205 "@serkrapiv Not necessarily verboten, just that they must be escaped. The first paragraph of 2.5 Strings says:"
@serkrapiv Not necessarily verboten, just that they must be escaped.  The first paragraph of 2.5 Strings says:

The representation of strings is similar to conventions used in the C family of programming languages.  A string begins and ends with quotation marks.  All Unicode characters may be placed within the quotation marks except for the characters that must be escaped: quotation mark, reverse

[2021-02-06 16:12] yuuki3125y commented on #205
あ

[2021-11-27 16:30] FUCCOFFMYNUTTS opened #206 "Yea"

[2022-06-03 07:22] #86 closed